/**
表格
**/
table {
    margin-top:0px;
    table-layout: fixed;
    /* border-left: 1px solid #ddd;
    border-top: 1px solid #ddd; */
  }
  
  th,
  td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    padding: 12px 0;
    color: #666;
    font-size: 14px;
  }
  
  th {
    font-weight: normal;
    background-color: #f1f5fa;
    color: #000;
  }
/**tab样式文件**/
  .demo-tabs>.el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
  }
  .valid-item .el-form-item--default{
    margin-bottom: 0;
  }
  .valid-item .valid-fail-item,
  .valid-select-item .valid-fail-item{
    border: 1px solid red;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .valid-item .valid-form-item-text{
    position: absolute;
    bottom: -28px;
    margin-left: 6px;
    color: red;
    font-size: 12px;
  }
  .valid-select-item .valid-form-item-text{
    margin-left:8px;
    color: red;
    font-size: 12px;
  }
  /**
  文本框
  */

  /deep/ .el-textarea__inner {
    resize: none; 
}
