<script setup lang="ts">
import  roleEdit  from "./components/roleEdit.vue"
import  roleList  from "./components/roleList.vue"
import { provide, ref, inject } from "vue";
import { Switch, BtnType } from "./types/role"
import { useRouter } from "vue-router"
import { ContentWrap } from '@/components/ContentWrap'

const { currentRoute } = useRouter()
const roleSwitch = ref(Switch.List)
let btnStatus = ref(BtnType.Cancel)
let dataList = ref({})
provide('btnStatus', btnStatus)
provide('dataList', dataList)

// provide('editStatus', status)
console.log(currentRoute.value)

const switchPage = (e: Switch, b:BtnType, o:{})=>{
    if(b == BtnType.Cancel){
        roleSwitch.value = e
    }else{

        btnStatus.value = b
        dataList.value = o
        roleSwitch.value = e
    }
}

const reloadPage = (s:Switch)=>{
    roleSwitch.value = Switch.Reload
    // nextTick(()=>{
    //     roleSwitch.value = s
    // })
    setTimeout(() => {
        roleSwitch.value = s
        
    }, 20);

}

</script>

<template>
    <ContentWrap>
        <roleEdit @switchpage="switchPage"  v-if="roleSwitch==Switch.Edit"/>
    <roleList @switchpage="switchPage" @reloadpage="reloadPage" v-if="roleSwitch==Switch.List"/>
    </ContentWrap>
    
</template>

<style>



</style>
