<script lang='ts' setup>
import { ContentWrap } from '@/components/ContentWrap'
import { ref, reactive, onMounted } from 'vue'
import { userForm } from "@/types/user"
import { useI18n } from '@/hooks/web/useI18n'
import { getUserLists, userState, userAdd } from "@/api/syset/user"
import { number } from '@intlify/core-base'
import { getRoleList } from '@/api/syset/role/index'
import { Dialog } from '@/components/Dialog'
import { ElButton, FormInstance, FormRules, ElMessageBox, ElForm, ElFormItem, ElInput, ElOption, ElPagination, ElSelect, ElTable, ElTableColumn, ElTag, ElMessage } from 'element-plus'
import { Icon } from '@/components/Icon'
import { removeAllListeners } from 'process'
const loading = ref(false)
const labelPosition = ref('top')
const { t } = useI18n()
let tableData = ref([])
let pageSize = ref(10)
let pageIndex = ref(1)
let total = ref("0")
let filterUserName = ref("")
let filterTelephone = ref("")
let filteState = ref()
let dialogVisible = ref(false)
const btnactions = ref('')
let dialogTitle = ref("")
let loadings = ref(false)
const value = ref([])
const options = reactive({
    data: []
})
const rolesUsers = reactive({
    data: []
})
const ruleFormRef = ref<FormInstance>()
onMounted(() => {
    getUserList(pageSize, pageIndex)
})
const roleList = async (pageIndex: number) => {
    getRoleList(pageIndex).then(res => {
        console.log("獲取角色",res.data);
        options.data = res.data;
    })
}
const getUserList = async (pageSize, pageIndex) => {
    let params = {
        pageSize: pageSize.value,
        pageIndex: pageIndex.value,
        filterUserName: formInline.user,
        filterTelephone: formInline.phone,
        filterState: formInline.region
    }
    loading.value = true;
    await getUserLists(params).then(res => {
        tableData.value = res.data.list ? res.data.list : [];
        total.value = res.data.total
        loading.value = false;
    }).catch(() => {

    })
}
let formInline = reactive<userForm>({
    user: "",
    phone: "",
    region: "",
})
const rolesconfig = reactive({
    name: []
})
const onSubmit = () => {
    getUserList(pageSize, pageIndex)
}
const onAdd = (type: any, row: any) => {
    console.log("获取角色列表",row.roles);
    
    btnactions.value = type;
    dialogVisible.value = true;
    rolesconfig.name = row.roles
    //回显
    rolesUsers.data = row
    type == 'add' ? dialogTitle.value = "添加用户" : type == 'rolesconfig' ? dialogTitle.value = '角色配置' : dialogTitle.value = '组织配置'
    // getUserList(pageSize, pageIndex)
    if (btnactions.value == 'rolesconfig') {
        roleList(1)
    } else if (btnactions.value == 'add') {
        roleList(1)
    }
}
const reset = () => {
    formInline.user = ""
    formInline.phone = ""
    formInline.value = ""
    getUserList(pageSize, pageIndex)
}
//新增
const formAdd = reactive({
    name: '',
    phone: '',
    loginpassword: '',
    value: []
})
const rules = reactive<FormRules>({
    name: [
        { required: true, message: '用户姓名不能为空', trigger: 'blur' },
    ],
    phone: [
        {
            required: true,
            message: '用户手机号不能为空',
            trigger: 'blur',
        },
    ],
    loginpassword: [
        {
            required: true,
            message: '用户登录密码不能为空',
            trigger: 'blur',
        },
    ],
    value: [
        {
            required: true,
            message: '请配置用户角色',
            trigger: 'change',
        },
    ]
})
const getRolesid = (id: number) => {
    console.log("获取角色id", id);
}
const handleSizeChange = (val: number) => {
    pageSize.value = val;
    getUserList(pageSize, pageIndex)
}
const rolesCondfig = (val: any) => {

}
const userCondfig = (state: number) => {
    loadings.value = true;
    ElMessageBox.confirm(
        state.state == '1' ? '禁用用户将不能登录系统,确认禁用该用户?' : "确认启用该用户?",
        '提示',
        {
            confirmButtonText: '确认',
            cancelButtonText: '取消',
            type: 'warning',
        }
    ).then(() => {
        let params = {
            id: state.id,
            state: state.state == '1' ? '2' : '1',
            username: state.username
        }
        userState(params).then(res => {
            if (res.code == '200') {
                loadings.value = false;
                getUserList(pageSize, pageIndex)
            }
        }).finally(() => {
            loadings.value = false;
            getUserList(pageSize, pageIndex)
        })
    })
        .catch(() => {
            return
        })

}
const handleCurrentChange = (val: number) => {
    pageIndex.value = val;
    getUserList(pageSize, pageIndex)
}
const submitForm = async (formEl: FormInstance | undefined) => {
    if (!formEl) return
    await formEl.validate((valid, fields) => {
        let telexe = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1589]))\d{8}$/
        let passwords = /^\S*(?=\S{6,})(?=\S*\d)(?=\S*[A-Z])(?=\S*[a-z])(?=\S*[!@#$%^&*? ])\S*$/;
        if (valid) {
            if (!telexe.test(formAdd.phone)) {
                ElMessage.warning("手机号码格式不正确")
            }
            loadings.value = true;
            let params = {
                username: formAdd.name,
                telephone: formAdd.phone,
                password: formAdd.loginpassword,
                role_id: formAdd.value,
                pid: ""
            }
            userAdd(params).then(res => {
                // console.log("获取新增状态",res);
                if (res.code == '200') {
                    dialogVisible.value = false;
                    formAdd.name = ""
                    formAdd.phone = ""
                    formAdd.loginpassword = ""
                    formAdd.value = []
                    loadings.value = false;
                    getUserList(pageSize, pageIndex)
                }
            }).finally(() => {
                loadings.value = false;
            })
        } else {
            return
        }
    })
}

</script>
<template>
    <ContentWrap>
        <ContentWrap>
            <div class="searchMaps">
                <div>
                    <el-form :inline="true" label-width="100px" :model="formInline" class="demo-form-inline"
                        :label-position="labelPosition">
                        <el-form-item label="姓名">
                            <el-input v-model="formInline.user" placeholder="输入姓名" clearable />
                        </el-form-item>
                        <el-form-item label="手机号">
                            <el-input v-model="formInline.phone" placeholder="手机号" clearable />
                        </el-form-item>
                        <el-form-item label="状态">
                            <el-select v-model="formInline.region" placeholder="请选择状态" clearable>
                                <el-option label="启用" value="1" />
                                <el-option label="禁用" value="2" />
                            </el-select>
                        </el-form-item>
                    </el-form>
                </div>
                <div>
                    <el-button type="primary" @click="onSubmit" class="search"
                        style="margin:5px 0px 0 0px;background:#B3AAAA;color:#fff;border:none;">
                        <Icon icon="ep:search" class="mr-2px" />
                        {{ t('common.query') }}
                    </el-button>
                    <el-button @click="reset" style="background:#fff;color:#000;">
                        <Icon icon="ep:refresh-right" class="mr-2px" />
                        {{ t('common.reset') }}
                    </el-button>
                    <div style="margin:20px 0 0 83px;">
                        <!-- """" 会报错注意 -->
                        <el-button @click="onAdd('add', 1)"
                            style="background:#B3AAAA;color:#fff;border:none;">新增用户</el-button>
                    </div>
                </div>
            </div>
        </ContentWrap>
        <div style="margin-top: 5px;">
            <!--element-loading-text="数据正在加载中..."  -->
            <div>
                <el-table border :data="tableData" style="width: 100%" v-loading="loading"
                    :header-cell-style="{ background: '#F1F5FA', color: '#000' }">
                    <el-table-column type="selection" width="60" />
                    <el-table-column type="index" label="序号" width="60" />
                    <el-table-column prop="username" label="姓名" />
                    <el-table-column prop="telephone" label="手机号">
                        <template #default="scope">
                            {{ scope.row.telephone == null ? '--' : scope.row.telephone }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="organization" label="所属组织">
                        <template #default="scope">
                            {{ scope.row.organization == null ? '--' : scope.row.organization }}
                        </template>
                    </el-table-column>
                    <el-table-column label="角色">
                        <template #default="scope">
                            <span style="color:#6B9EFF;font-weight:700;" v-for="(items,id) in scope.row.roles" :key="id">{{ items.name }}&nbsp;&nbsp;&nbsp;</span>
                       </template>
                        
                    </el-table-column>
                    <el-table-column prop="state" label="状态">
                        <template #default="scope">
                            <el-tag class="ml-2" :type="scope.row.state == '1' ? 'success' : 'danger'">{{
                                    scope.row.state == 1 ? '启用' : '禁用'
                            }}</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" width="210">
                        <template #default="scope">
                            <ElButton link type="primary" :loadings="loadings" @click="userCondfig(scope.row)">{{
                                    scope.row.state == 1 ? '禁用' : '启用'
                            }} </ElButton>
                            <ElButton link type="primary" @click="onAdd('rolesconfig', scope.row)">角色配置</ElButton>
                            <!-- 暂时没有开发等接口 先禁用 -->
                            <ElButton link type="primary" @click="onAdd('origin', scope.row)">组织配置</ElButton>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="margin-top:5px;">
                    <el-pagination background @current-change="handleCurrentChange" @size-change="handleSizeChange"
                        :current-page="pageIndex" :page-sizes="[8, 10, 20, 40]" :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper" :total="total" />
                </div>
            </div>

            <!-- 新建等 -->
            <Dialog v-model="dialogVisible" :title="dialogTitle">
                <div v-if="btnactions == 'add'">
                    <el-form ref="ruleFormRef" :model="formAdd" label-width="120px" :rules="rules">
                        <el-form-item label="用户姓名" prop="name">
                            <el-input v-model="formAdd.name" placeholder="请输入用户姓名" class="userInput" clearable />
                        </el-form-item>
                        <el-form-item label="用户手机号" prop="phone">
                            <el-input v-model="formAdd.phone" placeholder="请输入用户手机号" class="userInput" clearable />
                        </el-form-item>
                        <el-form-item label="登录密码" prop="loginpassword">
                            <el-input v-model="formAdd.loginpassword" placeholder="请输入登录密码" class="userInput"
                                clearable />
                        </el-form-item>
                        <!-- filterable allow-create
                                default-first-option -->
                        <el-form-item label="角色选择" prop="value">
                            <el-select style="width:300px;" v-model="formAdd.value" multiple  placeholder="请选择角色">
                                <el-option v-for="item in options.data" :key="item.id" :label="item.name"
                                    :value="item.id" @click="getRolesid(item.id)" />
                            </el-select>
                        </el-form-item>
                    </el-form>
                </div>

                <div v-if="btnactions == 'rolesconfig'">
                    <div class="rolesl" v-for="roleItem in  rolesUsers" :key="roleItem">
                        <div class="roleu">用户姓名 :{{ roleItem.username }}</div>
                        <div class="roleu">用户手机号码 :{{ roleItem.telephone ?
                                roleItem.telephone.replace(/(\d{3})\d{4}(\d{4})/, "$1****$2") : roleItem.telephone
                        }}
                        </div>
                    </div>
                    <div class="rolesls">角色选择 {{ rolesconfig.name }}</div>
                    <div class="roles_selects">
                        {{options.data}}
                        <!-- multiple filterable allow-create
                            default-first-option -->
                        <el-select style="width:350px;" multiple 
                            v-model="rolesconfig.name" placeholder="请选择角色">
                            <el-option v-for="item in options.data" :key="item.id" :label="item.name"
                                :value="item.id" />
                        </el-select>
                    </div>
                </div>
                <div v-if="btnactions == 'origin'">
                    <div class="rolesl" v-for="roleItem in  rolesUsers" :key="roleItem">
                        <div class="roleu">用户姓名 :{{ roleItem.username }}</div>
                        <div class="roleu">用户手机号码 :{{ roleItem.telephone ?
                                roleItem.telephone.replace(/(\d{3})\d{4}(\d{4})/, "$1****$2") : roleItem.telephone
                        }}
                        </div>
                    </div>
                </div>
                <template #footer>
                    <div class="dialog-footer" style="text-align:center">
                        <ElButton type="primary" class="userSure" @click="submitForm(ruleFormRef)" :loading="loadings">
                            保存</ElButton>
                        <ElButton class="usercancel" @click="dialogVisible = false">关闭</ElButton>
                    </div>
                </template>
            </Dialog>
        </div>
    </ContentWrap>
</template>
<style lang="less" scoped>
.searchMaps {
    display: flex;
    justify-content: space-between;
}

.userInput {
    width: 300px;
}

.userSelect {
    width: 300px;
}

.userSure {}

.usercancel {}

.rolesl {
    line-height: 40px;
    font-size: 18px;
    color: #000000;
}

.rolesls {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
}

.roles_selects {
    margin-top: 10px;
}
</style>