<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { ElTree, ElInput, ElButton, ElMessage, ElMessageBox, ElSelect } from "element-plus"
import { BtnType, Switch } from "../types/role"
import { getRoleList, deleteRole } from "@/api/syset/role"
import { Table } from '@/components/Table'
import { TableData } from '@/api/table/types'
import { reactive } from 'vue'
import { useTable } from '@/hooks/web/useTable'
import { TableColumn } from '@/types/table'
import { useI18n } from '@/hooks/web/useI18n'
import { ContentWrap } from '@/components/ContentWrap'

const { t } = useI18n()
const columns = reactive<TableColumn[]>([
    {
        field: 'index',
        label: '序号',
        type: 'index'
    },
    {
        field: 'name',
        label: '角色名称'
    },
    {
        field: 'action',
        label: '操作'
    }
])

const { register, tableObject, methods } = useTable<TableData>({
    getListApi: getRoleList,
    response: {
        list: 'list',
        total: 'total'
    },
    props: {
        columns
    }
})

const { getList } = methods

getList()

const tableData = ref([])

const emit = defineEmits(['switchpage', 'reloadpage'])

const submit = () => {

    emit("switchpage", Switch.Edit, BtnType.Add, {})
}

const confirmDeleteRole = (name: string, done: () => void) => {
    ElMessageBox.confirm('确认删除角色-' + name + '?')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}

const BtnSubmit = (btnType: BtnType, scope) => {
    console.log(scope)
    if (btnType == BtnType.Check) {
        emit("switchpage", Switch.Edit, BtnType.Check, scope.row)
    } else if (btnType == BtnType.Edit) {
        emit("switchpage", Switch.Edit, BtnType.Edit, scope.row)
    } else if (btnType == BtnType.Delete) {
        confirmDeleteRole(scope.row.name, () => {
            deleteRole({
                deleteId: scope.row.id
            }).then((res) => {

                if (res.code == "200") {

                    ElMessage.success(res.message)
                    emit("reloadpage", Switch.List)
                }
            }).catch(() => {
                ElMessage.error("删除失败")
                emit("reloadpage", Switch.List)

            })
        })
    } else {

    }

}
onMounted(() => {
    getRoleList({}).then((res) => {
        console.log("角色", res)
        tableData.value = res.data
    })
})

</script>


<template>
    <div class="titlebtn">
        <div>
            <ElButton @click="submit" style="background:#B3AAAA;color:#fff;border:none;">新增角色</ElButton>
        </div>
    </div>

    <div class="contents">
        <el-table :data="tableData" border style="width: 100%" :header-cell-style="{ background: '#F1F5FA', color: '#000' }">
            <el-table-column prop="index" align="center" label="序号" width="80" />
            <el-table-column prop="name" align="center" label="角色名称"  />
            <el-table-column prop="action" align="center" width="280" header-align="center" label="操作" fixed="right">
                <template #default="scope">
                    <el-button   style="background-color:rgba(253,251,251,.2);margin-left: -15px;border:none;color:#5087EC;">查看</el-button>
                    <el-button  style="background-color:rgba(253,251,251,.2);margin-left: -15px;border:none;color:#5087EC;" :disabled="scope.row.index == 1" 
                        @click="BtnSubmit(BtnType.Edit, scope)">编辑</el-button>
                    <el-button  style="background-color:rgba(253,251,251,.2);margin-left: -15px;border:none;color:#5087EC;" :disabled="scope.row.index == 1" 
                        @click="BtnSubmit(BtnType.Delete, scope)">删除</el-button>

                </template>
            </el-table-column>
        </el-table>
        <!-- <Table
            v-model:pageSize="tableObject.pageSize"
            v-model:currentPage="tableObject.currentPage"
            :data="tableObject.tableList"
            :loading="tableObject.loading"
            :selection="false"
            :pagination="{
            total: tableObject.total
            }"
            @register="register"
        /> -->

    </div>


</template>

<style>
.titlebtn{
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    height:100px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right:10px;
    width:100%;
    margin-bottom:6px;
}


.contents {
    background: #ffffff;
    border:1px solid #E4E7ED;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 12px 0px;
}
</style>