<!-- 逻辑代码开始 -->
<script setup lang="ts">
import { ElRow, ElCol, ElCard, ElSkeleton } from 'element-plus'
import { CountTo } from '@/components/CountTo'
import { useDesign } from '@/hooks/web/useDesign'
import { useI18n } from '@/hooks/web/useI18n'
import { ElMessage } from 'element-plus'
import { ref, reactive, onMounted, nextTick, onUnmounted, defineEmits } from 'vue'
import { getCountApi } from '@/api/dashboard/analysis'
import type { AnalysisTotalTypes } from '@/api/dashboard/analysis/types'
import { commonconfig, commonconfigDel, homeConfig } from "@/api/home/home"
import { useCache } from '@/hooks/web/useCache'
import { Dialog } from '@/components/Dialog'
import { string } from 'vue-types'
import { defineProps } from 'vue';
import { useAppStoreWithOut } from '@/store/modules/app'
import Logins from "@/views/Login/Login.vue"
import router from '@/router'
const appStore = useAppStoreWithOut()
const { wsCache } = useCache()
const { t } = useI18n()
let setConfig = ref(1)
const { getPrefixCls } = useDesign()
defineEmits(['homeConfigs']);
const prefixCls = getPrefixCls('panel')
let routeList = ref([])
let userToken = ref({})
let menuRules: any = ref([])
const loading = ref(true)
let isShow = ref(true)
//数组匹配
let shopCount = ref(0)
let listCount = ref(0)
let dialogVisibles = ref(false)
let timerID = ref()
let timerIDs = ref()
let configTxt = ref("")
let configTxts2 = ref('配置')
let dialogVisible_configs = ref(false)
let totalState = reactive<AnalysisTotalTypes>({
  users: 0,
  messages: 0,
  moneys: 0,
  shoppings: 0
})
onMounted(() => {
  userToken.value = wsCache.get(appStore.getUserInfo)
  //获取匹配规则
  getConfigs()
});

defineProps<{
  configMenus: {
    p_title: string,
    id: number
  },
  dialogVisibles: Boolean
}>()

onUnmounted(() => {
  timerID.value = "";
  timerIDs.value = "";
})

const goConfig = async () => {
  if (userToken.value == null) {
    // ElMessage.warning("无权限，即将为您打开")
    // timerID.value = setTimeout(() => {
      dialogVisibles.value = true;
  } 
  else {
    dialogVisible_configs.value = true;
    let respRoutes = JSON.parse(JSON.stringify(wsCache.get('roleRouters')));
    routeList.value = respRoutes;
    console.log("获取路由表", routeList.value);
  }
}

//获取匹配规则
const getConfigs = async () => {
  await commonconfig().then(res => {
    //获取匹配集合
    let respRules = res.data.list;
    menuRules.value = respRules;
    //路由表集合
    let respRoutes = JSON.parse(JSON.stringify(wsCache.get('roleRouters')));
  })
}       
const homeConfigs = async () => {
  await homeConfig().then(res => {
    let resp = res.data.list;
  })
}
const reload = async () => {
  isShow.value = false;
  nextTick(() => {
    isShow.value = true;
  })
}
//跳转
const goRouts = (path) => {
  if(path !== '/dashboard/analysis'){
    router.push({
       path: path
     })
  }else{
    timerIDs.value =  setTimeout(()=>{
      ElMessage.warning("提示：当前访问页面就是首页无需重复点击!")
       return
    },1000)
  }
  
}
//配置保存
const setConfigs = async (routeid: number, id: any) => {
  // if (configMenus.value.length < 10) {
  let params = {
    menu_id: routeid,
    state: id
  }
  loading.value = true;
  await commonconfigDel(params).then(res => {
    console.log("获取配置结果", res);
    if(res.code == '200'){
      loading.value = false;
      router.push({
      path: "/allback"
    })
    }
  }).finally(() => {
  })
}

</script>
<!-- 逻辑代码结束 -->
<!-- 模板开始 -->
<template>
  <!-- 首頁常用功能配置开始 -->
  <div class="homeConfig">
    <ElCard>
      <div class="homeItms">
        <div class="homeConfig_titlle">
          常用功能
        </div>
        <!-- v-if="userToken !== null" -->
        <div class="homeConfig_lists" style="cursor:pointer;"><img src="@/assets/imgs/confisg.png" @click="goConfig" />
        </div>
      </div>
      <!-- 常用功能数据展示开始 -->
      <div class="homeConfig_lists" v-if="userToken !== null">
        <div class="config_list_items" v-for="(routeitem, id) in configMenus" :key="id">
          <!-- {{configMenus}} -->
          <div v-if="isShow" @click="goRouts(routeitem.path)" style="cursor: pointer;">
            <div class="items_imgs">
              <img src="@/assets/imgs/configs.png"
                style="width:60px;height:60px;text-align: center;margin-left:-5px;" />
            </div>
            <div class="items_txt">
              <div style="color:#B6BFD9;text-align:center;">{{ routeitem.title }}</div>
              <div class="routitle"  >{{ routeitem.p_title }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 常用功能数据展示结束 -->
    </ElCard>
  </div>
  <!-- 配置 -->
  <Dialog v-model="dialogVisible_configs" title="常用功能配置">
    <div class="homeconfig_contaier">
      <div class="table_configs" v-for="(routeName, rid) in routeList" :key="rid">
        <!-- 一级 -->
        <div class="config_pi">{{ routeName.meta.title }}</div>
        <span class="config_childs" v-for="(routeNames, rids) in routeName.children" :key="rids">
          <!-- 二级  循环一行显示div有for不可行-->
          <span class="childs_config_txt" style="margin-left:-15px;height:50px;display: inline-block;">
            <span class="config_txt">{{ routeNames.meta.title }}</span>
            <span style="border:1px solid #F1F5FA;width:100px;display: inline-block;text-align: center;">
              <!-- 匹配 -->
              <!-- <span  style="border:1px solid #EDF2F8;display:inline-block;padding:0 10px;height:30px;overflow: hidden;"> -->
              <span v-if="!(menuRules.includes(routeNames.meta.id))"
                style="font-weight:700;cursor: pointer;color:#6F96F6;width:50px;background-color:#EDF3FF;border-radius:5px;font-size:12px;display:inline-block;line-height:15px;text-align:center;padding:8px;"
                @click="setConfigs(routeNames.meta.id, 1)" :loading="loading">
                <span>配置</span>
              </span>
              <!-- </span> -->
              <!-- <span  style="border:1px solid #EDF2F8;display:inline-block;padding:0 10px;height:32px;overflow: hidden;"> -->
              <span v-else
                style="font-weight:700;margin:0px;border:1px solid #EDF2F8;cursor: pointer;color:#ACB1BE;width:50px;background-color:#EEEFF0;border-radius:5px;font-size:12px;display:inline-block;line-height:15px;text-align:center;padding:8px;"
                @click="setConfigs(routeNames.meta.id, 2)">
                取消</span>
            </span>
          </span>
        </span>
        <!-- </span> -->
      </div>
    </div>
  </Dialog>
  <Dialog v-model="dialogVisibles" title="捷路者服务平台">
    <Logins />
  </Dialog>
  <!-- 首頁常用功能配置结束 -->
</template>
<!-- 模板结束 -->
<!-- 样式文件开始 -->
<style lang="less" scoped>
.homeConfig_titlle {
  color: #101010;
  font-weight: 700;

}

.homeConfig {
  margin-bottom: 15px;

  .homeItms {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.homeConfig_lists {
  display: flex;

  img {
    width: 20px;
    height: 20px;
  }

  .items_imgs {
    margin-left: 15px;
  }

  .config_list_items {
    padding: 10px;
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
    line-height: 30px;
  }

  .items_txt {
    text-align: center;
  }
}

.homeconfig_contaier {
  line-height: 35px;
  border: 1px solid #EEF3F8;
  width:802px;
  margin:0 auto;
  .config_pi {
    background-color: #F1F5FA;
    padding-left: 15px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #101010;
    font-weight: 700;

  }

  .config_childs {
    background-color: #FFFFFF;
    padding-left: 15px;
    height: 45px;
    line-height: 45px;

    .config_txt {
      border: 1px solid #F1F5FA;
      width: 100px;
      font-weight: 700;
      text-align: center;
      display: inline-block;
    }

    .config_btns {
      color: #5087EC;
      width: 100px;
      text-align: center;
      margin-left: 50px;
      display: inline-block;
    }
  }
}

@prefix-cls: ~'@{namespace}-panel';

.@{prefix-cls} {
  &__item {
    &--peoples {
      color: #40c9c6;
    }

    &--message {
      color: #36a3f7;
    }

    &--money {
      color: #f4516c;
    }

    &--shopping {
      color: #34bfa3;
    }

    &:hover {
      :deep(.@{namespace}-icon) {
        color: #fff !important;
      }

      .@{prefix-cls}__item--icon {
        transition: all 0.38s ease-out;
      }

      .@{prefix-cls}__item--peoples {
        background: #40c9c6;
      }

      .@{prefix-cls}__item--message {
        background: #36a3f7;
      }

      .@{prefix-cls}__item--money {
        background: #f4516c;
      }

      .@{prefix-cls}__item--shopping {
        background: #34bfa3;
      }
    }
  }
}
</style>
<!-- 样式文件结束 -->