<script setup lang="ts">
import PanelGroup from './components/PanelGroup.vue'
import { Dialog } from '@/components/Dialog'
import { ElRow, ElCol, ElCard, ElSkeleton } from 'element-plus'
import { Echart } from '@/components/Echart'
import { pieOptions, barOptions, lineOptions } from './echarts-data'
import { ref, reactive, getCurrentInstance, onMounted } from 'vue'
import { useCache } from '@/hooks/web/useCache'
// import {
//   getWeeklyUserActivityApi,
//   getMonthlySalesApi
// } from '@/api/dashboard/analysis'
import { newsfeed, newsfeedsee, notices, commonconfig, noticessess, homeConfig, commonconfigDel } from "@/api/home/home"
import { set } from 'lodash-es'
import { EChartsOption } from 'echarts'
import { useI18n } from '@/hooks/web/useI18n'
import { ContentWrap } from '@/components/ContentWrap'
const { wsCache } = useCache()
const { t } = useI18n()
const { proxy }: any = getCurrentInstance();
console.log(proxy.$router.currentRoute.value.meta.permission);

const loading = ref(true)
const dialogVisible = ref(false)
const dialogTitle = ref('')
const dialogVisiblede = ref(false)
const dialogTitlede = ref('')
let pageSize = ref(10)
let pageIndex = ref(1)
let orderData = ref([])
let orderDatas = ref([])
let zxdetaild = ref([])
let zxdetailds = ref([])
let activeType = ref('')
let currentPage = ref(1)
let pagesize = ref(10)
let configMenus = ref([])
let lateInfo = ref([])
let noticeAnnou = ref([])
let userToken = ref('')
let filterTitle = ref('')
//seeMores
const seeMores = async (type: string) => {
  dialogVisible.value = true;
  activeType.value = type;
  if (type == "zy") {
    dialogVisible.value = true;
    dialogTitle.value = "最新资讯";
    newsfeedfun()
  } else if (type == 'tz') {
    dialogVisible.value = true;
    dialogTitle.value = "通知公告";
    getNotices();
  }
}
const getNotices = async () => {
  await notices().then(res => {
    let resp = res.data.list;
    orderDatas.value = resp;
  })
}
const handleCurrentChange = (current: any) => {
  currentPage.value = current;
}
const handleSizeChange = (size: any) => {
  pagesize.value = size;
}
const newsfeedfun = async () => {
  let params = {
    pageSize: pageSize.value,
    pageIndex: pageIndex.value,
    filterTitle: filterTitle.value
  }
  await newsfeed(params).then(res => {
    let resp = res.data.list;
    orderData.value = resp;
  })
}
const pieOptionsData = reactive<EChartsOption>(pieOptions) as EChartsOption
onMounted(() => {
  //获取用户信息
  let respRoutes = JSON.parse(JSON.stringify(wsCache.get('token')));

  userToken.value = respRoutes;
  //获取首页
  homeConfigs();
});
const homeConfigs = async () => {
  await homeConfig().then(res => {
    let resp = res.data.list;
    //常用配置菜单  數據展示10
    configMenus.value = resp.list_configs.splice(0, 10)
    //最新資訊數據展示
    lateInfo.value = resp.list_news.splice(0, 10)
    //通知公告
    noticeAnnou.value = resp.list_notices.splice(0, 10)
  })
}


//详情
const goDetails = async (type: string, item: any) => {
  activeType.value = type;
  if (type == "zy") {
    dialogVisiblede.value = true;
    dialogTitlede.value = item.title + "详情";
    let params = {
      id: item.id
    }
    NewsfeedDeatils(params)
  } else if (type == 'tz') {
    dialogVisiblede.value = true;
    dialogTitlede.value = item.title + "通知";
    let params = {
      id: item.id
    }
    NoticesfeedDeatils(params)
  }

}
const NoticesfeedDeatils = async params => {
  await noticessess(params).then(res => {
    zxdetailds.value = res.data.list;
  })
}


const NewsfeedDeatils = async params => {
  await newsfeedsee(params).then(res => {
    zxdetaild.value = res.data.list;
  })
}
// 用户来源
const getUserAccessSource = async () => {
  // const res = await getUserAccessSourceApi().catch(() => { })
  // if (res) {
  //   set(
  //     pieOptionsData,
  //     'legend.data',
  //     res.data.map((v) => t(v.name))
  //   )
  //   pieOptionsData!.series![0].data = res.data.map((v) => {
  //     return {
  //       name: t(v.name),
  //       value: v.value
  //     }
  //   })
  // }
}

const barOptionsData = reactive<EChartsOption>(barOptions) as EChartsOption

// 周活跃量
const getWeeklyUserActivity = async () => {
  // const res = await getWeeklyUserActivityApi().catch(() => { })
  // if (res) {
  //   set(
  //     barOptionsData,
  //     'xAxis.data',
  //     res.data.map((v) => t(v.name))
  //   )
  //   set(barOptionsData, 'series', [
  //     {
  //       name: t('analysis.activeQuantity'),
  //       data: res.data.map((v) => v.value),
  //       type: 'bar'
  //     }
  //   ])
  // }
}

const lineOptionsData = reactive<EChartsOption>(lineOptions) as EChartsOption

// 每月销售总额
const getMonthlySales = async () => {
  // const res = await getMonthlySalesApi().catch(() => { })
  // if (res) {
  //   set(
  //     lineOptionsData,
  //     'xAxis.data',
  //     res.data.map((v) => t(v.name))
  //   )
  //   set(lineOptionsData, 'series', [
  //     {
  //       name: t('analysis.estimate'),
  //       smooth: true,
  //       type: 'line',
  //       data: res.data.map((v) => v.estimate),
  //       animationDuration: 2800,
  //       animationEasing: 'cubicInOut'
  //     },
  //     {
  //       name: t('analysis.actual'),
  //       smooth: true,
  //       type: 'line',
  //       itemStyle: {},
  //       data: res.data.map((v) => v.actual),
  //       animationDuration: 2800,
  //       animationEasing: 'quadraticOut'
  //     }
  //   ])
  // }
}

const getAllApi = async () => {
  await Promise.all([getUserAccessSource(), getWeeklyUserActivity(), getMonthlySales()])
  loading.value = false
}
getAllApi()
</script>
<template>
  <PanelGroup :configMenus="configMenus" :userToken="userToken" />
  <ElRow :gutter="20" justify="space-between">
    <ElCol :span="12">
      <ElCard class="mb-20px" style="height:500px;">
        <!-- {{orderData}} -->
        <div class="zxc">
          <div class="zxc_tis" style="border-bottom:1px solid #F7F9FC;">
            <div class="zxc_tis_l">
              <div class="zc_line"></div>
              <div class="homeNews">最新资讯</div>
            </div>
            <div class="zxc_tis_r" style="cursor: pointer;color:#CED4E5;" @click="seeMores('zy')">查看更多<span
                class="rs"></span></div>
          </div>
        </div>
        <!-- 文字展示 -->
        <div class="rs" style="margin-top: 20px;line-height:40px;">
          <div v-for="(item, id) in lateInfo" :key="id">
            <div class="homeslist">
              <div class="zxc_tis_l">{{ item.title }}</div>
              <div class="zxc_tis_r">{{ item.create_time }}</div>
            </div>
          </div>
        </div>
      </ElCard>
    </ElCol>
    <ElCol :span="12">
      <ElCard class="mb-20px" style="height:500px;">
        <ElSkeleton :loading="loading" animated>
          <div class="zxc">
            <div class="zxc_tis" style="border-bottom:1px solid #F7F9FC;">
              <div class="zxc_tis_l">
                <div class="zc_lines"></div>
                <div class="homeNews">通知公告</div>
              </div>
              <div class="zxc_tis_r" style="cursor: pointer;color:#CED4E5;" @click="seeMores('tz')">查看更多<span
                  class="rs"></span></div>
            </div>
          </div>
          <!-- 文字展示 -->
          <div class="rs" style="margin-top: 20px;line-height:40px;">
            <div v-for="(items, id) in noticeAnnou" :key="id">
              <div style="display:flex;justify-content:space-between;color:#73798C;">
                <div class="zxc_tis_l">{{ items.title }}</div>
                <div class="zxc_tis_r">{{ items.create_time }}</div>
              </div>
            </div>
          </div>
        </ElSkeleton>
      </ElCard>
    </ElCol>
    <ElCol :span="19">
      <ElCard class="mb-20px">
        <ElSkeleton :loading="loading" animated :rows="4">
          <Echart :options="lineOptionsData" :height="350" />
        </ElSkeleton>
      </ElCard>
    </ElCol>
    <ElCol :span="5">
      <ElCard class="mb-20px">
        <ElSkeleton :loading="loading" animated :rows="4">
          <div style="height:350px;">
            <div class="comp_title"
              style="color:#000;padding-bottom:8px;border-bottom:1px solid #F8FAFC;font-weight:700;">联系方式
            </div>
            <div style="width:100%;height:100px;border-radius:5px;border:1px solid #F8FAFC;padding:5px;">
              <img src="@/assets/imgs/acompy.png" alt="" title="" style="width:100%;height:100px;" />
            </div>
            <div class="compy_nam">
              <div style="display:flex;">
                <div style="font-size:16px;color:#23262F;">公司网址: </div>
                <div style="margin-left:10px;color:#181C27;">www.baidu.com</div>
              </div>
              <div style="display:flex;">
                <div style="font-size:16px;color:#23262F;">服务电话: </div>
                <div style="margin-left:10px;color:#181C27;">0370-01236</div>
              </div>
              <div class="er_code">
                <div class="er_code_left">
                  <img src="@/assets/imgs/codeer.png" style="width:100%;height:100%;" />
                </div>
                <div class="er_code">
                  更多信息及活动发布,请关注企业公众号xxx
                </div>
              </div>
            </div>
          </div>
        </ElSkeleton>
      </ElCard>
    </ElCol>
  </ElRow>
  <!-- 列表对话框 -->
  <Dialog v-model="dialogVisible" :title="dialogTitle">
    <div v-if="activeType === 'zy'">
      <div style="display: flex;position: sticky;top:0px;background-color:#fff;">
        <ElInput placeholder="请输入最新资讯标题" style="width:240px;" v-model="filterTitle" />
        <ElButton type="info" @click="newsfeedfun" style="margin-left:20px;background-color:#A4ADB3;color:#fff;">查询
        </ElButton>
      </div>
      <div class="zxconta" v-if="orderData.length > 0">
        <div @click="goDetails('zy', dtitme)"
          style="display: flex;border-bottom:1px solid #EBEBEB;justify-content:space-between;margin-top: 25px;cursor: pointer;"
          v-for="(dtitme, id) in orderData.slice((currentPage - 1) * pagesize, currentPage * pagesize)" :key="id">
          <div class="zx_tims">
            <div class="zx_tims_tx" style="display: flex;">
              <div style="margin-left: 10px;color；#101010;"> {{ dtitme.title }}</div>
            </div>
          </div>
          <div class="zx_content">
            <div class="zx_tims_txs" style="color:#C1C2C1;">{{ dtitme.create_time }}</div>
          </div>
        </div>
      </div>
      <div v-else class="noData">
        ~暂无结果~
      </div>
      <!-- 分页组件 -->
      <div style="margin-top:15px;position: relative;">
        <div style="position: absolute;right:0;">
          <el-pagination background @current-change="handleCurrentChange" @size-change="handleSizeChange"
            :current-page="currentPage" :page-sizes="[8, 10, 20, 40]" :page-size="pagesize"
            layout="total, sizes, prev, pager, next, jumper" :total="orderData.length" />
        </div>
      </div>
    </div>

    <div v-if="activeType === 'tz'">
      <div class="zxconta">
        <div @click="goDetails('tz', dtitmes)"
          style="display: flex;border-bottom:1px solid #EBEBEB;justify-content:space-between;margin-top:15px;cursor: pointer;"
          v-for="(dtitmes, ids) in orderDatas" :key="ids">
          <div class="zx_tims">
            <div class="zx_tims_tx" style="display: flex;">
              <div style="margin-left: 10px;color；#101010;"> {{ dtitmes.title }}</div>
            </div>
          </div>
          <div class="zx_content">
            <div class="zx_tims_txs" style="color:#C1C2C1;">{{ dtitmes.create_time }}</div>
          </div>
        </div>
      </div>
    </div>
  </Dialog>
  <!-- 详情 -->
  <Dialog v-model="dialogVisiblede" :title="dialogTitlede">
    <div v-if="activeType === 'zy'">
      <div v-for="(tdeitems, idzy) in zxdetaild" :key="idzy">
        <div class="title" style="border-bottom:1px solid #ccc;color:#000;font-weight:700;">{{ tdeitems.title }}</div>
        <div class="title" style="color:#DBDBDB;font-weight:700;margin-top: 15px;">发布时间 :{{ tdeitems.create_time }} </div>
      </div>
    </div>

    <div v-if="activeType === 'tz'">
      <div v-for="(tdeitsems, idszy) in zxdetailds" :key="idszy">
        <div class="title" style="border-bottom:1px solid #ccc;color:#000;font-weight:700;">{{ tdeitsems.title }}</div>
        <div class="title" style="color:#DBDBDB;font-weight:700;margin-top: 15px;">发布时间 :{{ tdeitsems.create_time }}</div>
      </div>
    </div>
    <div style="position: absolute;right:50%;bottom:0;">
      <ElButton @click="dialogVisible = !dialogVisible">返回</ElButton>
    </div>
  </Dialog>
</template>

<style lang="less" scoped>
.homeslist {
  display: flex;
  justify-content: space-between;
  color: #575F75;
  font-size: 16px;
}

//最新资讯
// .zc_line {
//   width: 2px;
//   height: 16px;
//   background-color: #FF9502;
//   margin-right: 10px;
// }

.homeNews {
  color: #38415B;
  font-size: 16px;
  font-weight: 700;
}

.zxconta {
  .zx_content {
    margin-top: 15px;
    color: #000;
    font-size: 16px;
  }
}

:deep(.el-pagination.is-background .el-pager li:not(.is-disabled).is-active) {
  background-color: #FFFFFF !important; //修改默认的背景色
  color: #8FD2FE;
  border: 1px solid #8FD2FE;
  ;
}

.noData {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #A4ADB3;
}

.compy_nam {
  margin-top: 10px;
  line-height: 30px;
  color: #656D81;
}

//通知
// .zc_lines {
//   width: 2px;
//   height: 16px;
//   background-color: #5087EC;
//   margin-right: 10px;
// }

.rs {
  margin-left: 0px;
  color: #101010;
}

.zxc_tis_r {
  color: #CED4E5;
}

.zxc_tis {
  display: flex;
  justify-content: space-between;
  color: #101010;
  font-size: 15px;

  .zxc_tis_l {
    display: flex;
    align-items: center;
  }
}
.er_code{
    margin-top:20px;
    display:flex;
    .er_code_left{
        width:160px;
        height:100px;
        border:1px solid #ccc;
        border-radius:5px;
        color:#2D2F37;
        padding:5px;
    }
    .er_code{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-left: 15px;
    }
}
</style>
<!-- 样式文件结束 -->