<script lang='ts' setup>
import { ref,onMounted} from 'vue'
import router from '@/router'
onMounted(() => {
    router.push({
        path:"/dashboard/analysis"
    })
});
</script>
<template>
<div></div>
</template>