<script setup lang="ts">
import { ElCollapseTransition, ElDescriptions, ElDescriptionsItem, ElTooltip } from 'element-plus'
import { useDesign } from '@/hooks/web/useDesign'
import { propTypes } from '@/utils/propTypes'
import { ref, unref, PropType, computed, useAttrs, useSlots } from 'vue'
import { useAppStore } from '@/store/modules/app'
import { DescriptionsSchema } from '@/types/descriptions'

const appStore = useAppStore()

const mobile = computed(() => appStore.getMobile)

const attrs = useAttrs()

const slots = useSlots()

const props = defineProps({
  title: propTypes.string.def(''),
  message: propTypes.string.def(''),
  collapse: propTypes.bool.def(true),
  schema: {
    type: Array as PropType<DescriptionsSchema[]>,
    default: () => []
  },
  data: {
    type: Object as PropType<Recordable>,
    default: () => ({})
  }
})

const { getPrefixCls } = useDesign()

const prefixCls = getPrefixCls('descriptions')

const getBindValue = computed(() => {
  const delArr: string[] = ['title', 'message', 'collapse', 'schema', 'data', 'class']
  const obj = { ...attrs, ...props }
  for (const key in obj) {
    if (delArr.indexOf(key) !== -1) {
      delete obj[key]
    }
  }
  return obj
})

const getBindItemValue = (item: DescriptionsSchema) => {
  const delArr: string[] = ['field']
  const obj = { ...item }
  for (const key in obj) {
    if (delArr.indexOf(key) !== -1) {
      delete obj[key]
    }
  }
  return obj
}

// 折叠
const show = ref(true)

const toggleClick = () => {
  if (props.collapse) {
    show.value = !unref(show)
  }
}
</script>

<!-- 产品详情文字展示开始 -->
<template>
  <div
    :class="[
      prefixCls,
      'bg-[var(--el-color-white)] dark:(bg-[var(--el-bg-color)] border-[var(--el-border-color)] border-1px)'
    ]"
  >
  <!-- 内容容器 -->
    <div
      v-if="title"
      :class="[
        `${prefixCls}-header`,
        'h-50px flex justify-between items-center mb-10px border-bottom-1 border-solid border-[var(--tags-view-border-color)] px-10px cursor-pointer dark:border-[var(--el-border-color)]'
      ]"
      @click="toggleClick"
    >
    <!-- 头部 -->
      <div :class="[`${prefixCls}-header__title`, 'relative font-18px font-bold ml-10px']">
        <div class="flex items-center">
          <!-- {{ title }} -->
          <!-- <ElTooltip v-if="message" :content="message" placement="right">
            <Icon icon="ep:warning" class="ml-5px" />
          </ElTooltip> -->
        </div>
      </div>
      <!-- <Icon v-if="collapse" :icon="show ? 'ep:arrow-down' : 'ep:arrow-up'" /> -->
    </div>
    <!-- 内容展示容器开始 -->
    <ElCollapseTransition>
      <div v-show="show" :class="[`${prefixCls}-content`, 'p-10px']">
        <!--  border -->
        <ElDescriptions
          :column="2"
          :direction="mobile ? 'vertical' : 'horizontal'"
          v-bind="getBindValue"
        >
          <template v-if="slots['extra']" #extra>
            <slot name="extra"></slot>
          </template>
          <!--获取每一项  getBindItemValue（item） -->
          <ElDescriptionsItem
            v-for="item in schema"
            :key="item.field"
            v-bind="getBindItemValue(item)"
          >
            <template #label>
              <slot :name="`${item.field}-label`" :label="item.label" ><span style="color:#000;font-size: 15px;font-weight:'微软雅黑';">{{ item.label }} :</span></slot>
            </template>
              <!-- 产品详情数据渲染 -->
              <!-- data做解析  item.fileld表示的是字段 -->
             <template #default>
                <slot :name="item.field" :row="data">{{ data[item.field] }}</slot>
            </template> 
          </ElDescriptionsItem>
        </ElDescriptions>
      </div>
    </ElCollapseTransition>
  </div>
</template>
<!-- 产品详情文字展示结束 -->
<style lang="less" scoped>
@prefix-cls: ~'@{namespace}-descriptions';

.@{prefix-cls}-header {
  &__title {
    &::after {
      position: absolute;
      top: 3px;
      left: -10px;
      width: 4px;
      height: 70%;
      background: var(--el-color-primary);
      content: '';
    }
  }
}

.@{prefix-cls}-content {
  :deep(.@{elNamespace}-descriptions__cell) {
    width: 0;
  }
}
</style>
