<script lang='ts' setup>
import { onMounted, ref, reactive } from 'vue'
import { ElDialog, ElScrollbar, FormRules, FormInstance, ElMessageBox } from 'element-plus'
import { Dialog } from '@/components/Dialog'
import { ContentWrap } from '@/components/ContentWrap'
import { useRouter } from "vue-router";
import useDepaTable from '@/composables/application/useapplicationTable';
import useDept from '@/composables/application/useapplication';
import { approvalsee, approvalstate } from '@/api/product/application'
const { searchParm, tableData, getDeptList, handleCurrentChange, handleSizeChange, Total, loading } = useDepaTable();
const { serachBtn, resetBtn } = useDept(getDeptList, searchParm);
const ruleFormRef = ref<FormInstance>()
const dialogVisible = ref(false)
const seeweek = ref('')
const seeproduct_spec = ref('')
const seenumber = ref('')
const seeproduct_name = ref('')
const seeproduct_no = ref('')
const seeremarks = ref('')
const productId = ref('')
const seemodify_time = ref('')
const seemodify_by = ref('')
const SeeState = ref('')
const seeDatas = ref([])
const setTime = ((e: any) => {
    //传递给后端的字段和值
    searchParm.filterWeekStart = e[0]
    searchParm.filterWeekEnd = e[1]
})
onMounted(() => {
});
const goApplication = (row: any) => {
    console.log("row",row);
   
    dialogVisible.value = true;
    seeproduct_name.value = row.product_name
    seeweek.value = row.week
    seeproduct_spec.value = row.product_spec
    seenumber.value = row.number
    seeproduct_no.value = row.product_no
    seeremarks.value = row.remarks
    productId.value = row.id
    SeeState.value = row.state;
    seemodify_time.value = row.modify_time
    seemodify_by.value = row.modify_by //修改人
    approvalsee({ id: row.id }).then(res => {
        seeDatas.value = res.data.list
    })
}
const applicat = (val: number) => {
    console.log("val",val);
    
    ElMessageBox.confirm(
        val == 1 ? '确认审核操作?' : "确认驳回操作?",
        '提示',
        {
            confirmButtonText: '确认',
            cancelButtonText: '取消',
            type: 'warning',
        }
    ).then(() => {
        let params = {
            id:productId.value,
            product_name:seeproduct_name.value,
            modify_by:seemodify_by.value,//修改人
            state:val,
            modify_time:seemodify_time.value,
            pid: "",
            url: ""
        }
        approvalstate(params).then(res => {
            if (res.code == '200') {
                loading.value = false;
                dialogVisible.value = false;
                getDeptList()
            }
        }).finally(() => {
            getDeptList()
        })
    })
        .catch(() => {
            return
        })
}
const router = useRouter();

</script>
<template>
    <ContentWrap>
        <!-- serch -->
        <ContentWrap>
            <div class="serarchCon">
                <div class="serachForm_left">
                    <el-form :inline="true" :model="searchParm" class="demo-form-inline">
                        <el-form-item label="产品名称">
                            <el-input v-model="searchParm.filterProductName" placeholder="请输入产品名称" />
                        </el-form-item>
                        <el-form-item label="产品编码">
                            <el-input v-model="searchParm.filterProductNo" placeholder="请输入产品编码" />
                        </el-form-item>
                        <el-form-item label="核算周期">
                            <el-date-picker format="YYYY-MM-DD" value-format="YYYY-MM-DD" @change="setTime"
                                v-model="searchParm.value1" type="daterange" range-separator="至"
                                start-placeholder="开始日期" end-placeholder="结束日期" />
                        </el-form-item>
                    </el-form>
                </div>
                <div class="searchform_right">
                    <el-button @click="serachBtn" style="background:#B3AAAA;color:#fff;border:none;">
                        <Icon icon="ep:search" class="mr-2px" />
                        查询
                    </el-button>
                    <el-button @click="resetBtn" style="background:#fff;color:#000;">
                        <Icon icon="ep:refresh-right" class="mr-2px" />
                        重置
                    </el-button>
                </div>
            </div>
        </ContentWrap>
        <!-- tables -->
        <div class="tables">
            <el-table v-loading="loading" :data="tableData.list" style="width: 100%;margin-top: 5px;" border class="table_class"
                :header-cell-style="{ background: '#F1F5FA', color: '#000' }" loading="loading">
                <el-table-column type="selection" width="60" />
                <el-table-column type="index" label="序号" width="60" />
                <el-table-column prop="product_name" label="产品名称">
                    <template #default="scope">
                        {{ scope.row.product_name == "" ? '-' : scope.row.product_name }}
                    </template>
                </el-table-column>
                <el-table-column prop="product_no" label="产品编码" />
                <el-table-column prop="product_spec" label="产品规格" />
                <el-table-column prop="number" label="核算数量" />
                <el-table-column prop="modify_time" label="核算周期" />
                <el-table-column prop="count_date" label="碳排放量（kgCO2e）" width="220" />
                <el-table-column prop="username" label="单位产品碳排放系数" width="220" />
                <el-table-column prop="modify_time" label="更新时间" width="220" />
                <el-table-column fixed="right" label="操作" align="left" width="70">
                    <template #default="scope">
                        <el-button @click="goApplication(scope.row)"
                            style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: -15px;">审核</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div style="margin-top:5px;">
                <el-pagination background @current-change="handleCurrentChange" @size-change="handleSizeChange"
                    :current-page="searchParm.pageIndex" :page-sizes="[8, 10, 20, 40]" :page-size="searchParm.pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="Total" />
            </div>
        </div>

        <Dialog v-model="dialogVisible" title="审核">
            <el-button
                style="background-color:rgba(179,170,170,.6);text-align:center;padding:2px;color:#fff;border-radius:3px;width:100px;border:none;"
                :loading="loading" @click="applicat(1)">审核</el-button>
            <el-button
                style="background-color:#fff;text-align:center;padding:2px;color:#000;border-radius:3px;width:100px;border:1px solid #EDEDED;"
                align="center" @click="applicat(3)">驳回</el-button>
            <div style="line-height:50px;color:#000;font-size:16px;">
                <div>产品名称 : {{ seeproduct_name }}</div>
                <div class="pro_num" style="display: flex;justify-content: space-between;">
                    <div class="left_pros">
                        产品编码 ：{{ seeproduct_no }}
                    </div>
                    <div class="left_pros">
                        产品规格 ：{{ seeproduct_spec }}
                    </div>
                </div>
                <div class="pro_num" style="display: flex;justify-content: space-between;">
                    <div class="left_pros">
                        核算周期 ： {{ seeweek }}
                    </div>
                    <div class="left_pros">
                        核算数量 ： {{ seenumber }}
                    </div>
                </div>
                <div>碳排放系数 :</div>
                <div>评价目的 : {{ seeremarks }}</div>
                <div>附件信息 : </div>
            </div>
            <!-- 碳排放信息 -->
            <div style="margin-top:20px;color:#000;font-size:16px;font-weight:700;">碳排放信息</div>
            <table class="gx-table3" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <th></th>
                    <th>产品名称</th>
                    <th>类型</th>
                    <th>用量/逸散量</th>
                    <th>碳排放因子</th>
                    <th>排放量</th>
                </tr>
                <tbody style="width:100%;" v-for="(item, index) in seeDatas" :key="index">
                    <tr>
                        <td :rowspan="item.datas.length + 1">
                            {{ item.data_stage }}
                        </td>
                    </tr>
                    <tr v-for="(value, i) in item.datas" :key="i">
                        <td>{{ value.name }}</td>
                        <td>{{ value.category }}</td>
                        <!-- 后续单位 -->
                        <td>
                            {{ value.number }}kg
                        </td>
                        <td>
                            <!-- {{ value.xjszlb }} -->
                            -
                        </td>
                        <td>
                            <!-- {{ value.qjszlb }} -->
                            -
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td colspan="5" style="background:#F1F5FA;;color:#000;font-weight:700;">合计</td>
                    <td>0</td>
                </tr>
            </table>
            <div>
            </div>
        </Dialog>
    </ContentWrap>
</template>
<style lang="less" scoped>
 /deep/.el-dialog__body{
    margin-top: -15px;
}
.serarchCon {
    display: flex;
    justify-content: space-between;
}

.add_right {
    display: flex;
    flex-direction: row-reverse;
}

table {
    margin-top: 20px;
    table-layout: fixed;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

th,
td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    padding: 12px 0;
    color: #666;
    font-size: 14px;
}

th {
    font-weight: normal;
    background-color: #F1F5FA;
    color: #000;
}
</style>

