<script lang='ts' setup>
import { onMounted, ref, reactive, nextTick } from 'vue'
import { FormRules, FormInstance, ElButton } from 'element-plus'
import { ContentWrap } from '@/components/ContentWrap'
import { useRouter } from "vue-router";
import { useRoute } from 'vue-router'
import useDepaTable from '@/composables/businessaccount/report/useReportTable';
import { calculatereportAdd, getCalculatereportweeks,productcalculatecreate } from '@/api/product/report'
const { products, getDeptList, loading, report_types } = useDepaTable();
const dialogVisible = ref(false)
const ruleFormRef = ref<FormInstance>()
const loadings = ref(false)
const productId = ref()
const productIds = ref()
const proproductCalculateId = ref()
const stringid = ref<number>()
const  procaltime = ref()
 const procalsids = ref()
//2:定义变量
const route = useRoute()
const produname = ref("")
const calTime = reactive({
    data: []
})
onMounted(() => {
    stringid.value = Number(route.query.id)
    productcalculatecreate({id:stringid.value}).then(res =>{
        console.log("获取生成报告数据",res);
        //选择产品数据
        ruleForm.region = res.data.name
        productIds.value  = res.data.product_id
        //选择核算时间
        ruleForm.count = res.data.count_date
        procalsids.value = res.data.product_calculate_id;
    })
});
const router = useRouter();
const goCreated = () => {
    router.push({ path: '/product/businessaccoun'})
}
const getProCal = (id: number) => {
    productId.value = id;
    getCalculatereportweeks({ product_id: id }).then(res => {
        let procalList = [];
        procalList = res.data.list;
        console.log("RES", procalList);
        for (var k of procalList) {
            calTime.data.push(k)
        }
    })
}
const timeId = ref("")
const ruleForm = reactive({
    name: '',
    region: '',
    count: '',
    date1: '',
    date2: '',
    delivery: false,
    types: "",
    resource: '',
    desc: '',
    editId: ""
})
const rules = reactive<FormRules>({
    name: [
        { required: true, message: '请输入报告名称 ', trigger: 'blur' },
    ],
    region: [
        {
            required: true,
            message: '请选择产品',
            trigger: 'change',
        }
    ],
    types: [
        {
            required: true,
            message: '请选择报告类型',
            trigger: 'change',
        },
    ]
})
const getProCals = (id: number) => {
    proproductCalculateId.value = id;
}
const submitForm = async (formEl: FormInstance | undefined, type: string) => {
    console.log("type", type);
    if (!formEl) return
    await formEl.validate((valid, fields) => {
        if (valid) {
            loadings.value = true;
            if (type == "add") {
                let params = {
                    product_id: productId.value ?  productId.value : productIds.value,
                    product_calculate_id: proproductCalculateId.value ? proproductCalculateId.value : procalsids.value,
                    report_name: ruleForm.name,
                    count_date: ruleForm.count,
                    report_type: ruleForm.types,
                    description: ruleForm.desc,
                    menu_id: "",
                    url: "",
                }
                calculatereportAdd(params).then(res => {
                    if (res.code == '200') {
                        clearTimeout(timeId.value)
                        ruleForm.name = "";
                        ruleForm.region = "";
                        ruleForm.types = "";
                        ruleForm.desc = "";
                        ruleForm.count = "";
                        dialogVisible.value = false;
                        loadings.value = false;
                        getDeptList()
                        timeId.value = setTimeout(() => {
                            router.push({ path: '/product/report' })
                        }, 100)
                    }

                }).finally(() => {
                    loadings.value = false;
                })
            }
        } else {
            console.log('error submit!', fields)
        }
    })
}

</script>
<template>
    <ContentWrap>
        <ContentWrap>
            <div>生成核算报告</div>
        </ContentWrap>
        <div class="creatForms">
            <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" :labelPosition="top">
                <el-form-item label="报告名称" prop="name">
                    <el-input clearable v-model="ruleForm.name" style="width:447px;" placeholder="请输入报告名称" />
                </el-form-item>
                <el-form-item label="选择产品" prop="region">
                    <!-- <el-col :span="7.5"> -->
                    <!-- 注意：绑定不一致 选择值还是处罚校验 -->
                    <el-select v-model="ruleForm.region" placeholder="请选择产品" clearable>
                        <el-option :label="proItem.name" :value="proItem.name" v-for="(proItem, idp) in products.datas"
                            @click="getProCal(proItem.product_id)" :key="idp" />
                    </el-select>
                    <!-- </el-col> -->
                    <!-- <el-col :span="8.5"> -->
                    <el-select v-model="ruleForm.count" placeholder="请选择产品核算时间" clearable style="margin-left:18px;">
                        <el-option :label="calItem.count_date" :value="calItem.count_date"
                            v-for="(calItem, idps) in calTime.data" @click="getProCals(calItem.product_calculate_id)"
                            :key="idps" />
                    </el-select>
                    <!-- </el-col> -->
                </el-form-item>
                <el-form-item label="报告类型" prop="types">
                    <el-select v-model="ruleForm.types" clearable placeholder="请选择报告类型" style="width:447px;">
                        <el-option :label="typereport.report_type" :value="typereport.id"
                            v-for="(typereport, id) in  report_types.data" :key="id" />
                    </el-select>
                </el-form-item>

                <el-form-item label="报告说明">
                    <el-input type="textarea" :rows="5" resize="none" show-word-limit
                        :autosize="{ minRows: 1, maxRows: 3 }" placeholder="请输入报告说明" v-model="ruleForm.desc"
                        maxlength="200" style="width:447px;" />
                    <span style="position: relative;"> <span v-if="ruleForm.desc && ruleForm.desc.length > 0"
                            class="clearButton" @click="delcles">x</span></span>
                </el-form-item>
            </el-form>
            <div class="dialog-footer" style="text-align:left;margin-left:240px;">
                <ElButton @click="submitForm(ruleFormRef, 'add')" type="primary" align="center" :loading="loadings">保存
                </ElButton>
                <ElButton @click="goCreated" align="center">关闭</ElButton>
            </div>
        </div>
    </ContentWrap>
</template>
<style lang="less" scope>
.creatForms {
    margin-top: 40px;
}

.clearButton {
    position: absolute;
    border-radius: 10px;
    right: 0px;
    z-index: 2;
    border: none;
    top: -16px;
    height: 40px;
    cursor: pointer;
    color: #ccc;
    width: 15px;
    padding: 3px;
    height: 15px;
    line-height: 3px;
    display: block;
    border: 1px solid #ccc;
    font-size: 13px;
}

.clearButton:hover {
    color: #878d99;

}
</style>