<script lang='ts' setup>
import { ref, onMounted, reactive } from 'vue'
import { ContentWrap } from '@/components/ContentWrap'
//1:引入useRoute
import { useRoute } from 'vue-router'
import type { TabsPaneContext } from 'element-plus'
import { productdataApi, productdatadel, productdataadd, productdataedit } from '@/api/product/business'
import BigNumber from 'bignumber.js' 
import {
  ElDialog,
  ElScrollbar,
  FormRules,
  FormInstance,
  ElMessageBox,
  ElMessage
} from 'element-plus'
import { Dialog } from '@/components/Dialog'
//2:定义变量
const route = useRoute()
const loading = ref(false)
//3：在全局定义一个状态
let stringTex = ref<string>('')
const stringid = ref<number>()
const product_id = ref<number>()
const activeName = ref('1')
const pageIndex = ref(1)
const Total = ref<number>(0)
const pageSize = ref(10)
const data_stage = ref<number>(1)
const calcsid = ref<number>()
const data_stages = ref([])
const tableData = ref([])
const tabVis = ref(true)
const tabyu = ref(false)
const seeDatas = ref([])
const data_categories = ref([])
const dialogVisible = ref(false)
const dialogTitle = ref('')
const currentRowId = ref<number|string>('') //编辑表格时候排放源的id，为空字符时则表示新增
const unitvalue = ref([])
const matertype = ref([])
const mathtype = ref([])
const cates = ref([])
const weitype = ref([])
const supplier = ref()
const isValidMaterial = ref(false)
const isValidNumber = ref(false)
const isValidUnit = ref(false)          
const newarr = reactive({
  data: []
})
const othersvis = ref(true)
const data_materials = reactive({
  materials: []
})
const data_dict= reactive({
  unitType: [
    {
      str:"重量单位",
      value:1
    },
    {
      str:"质量单位",
      value:2
    },
    {
      str:"长度单位",
      value:3
    },
  ],
  unit: [
    {
      str:'kg',
      value:1
    },
    {
      str:'t',
      value:2
    },
  ]
})
const adindex = ref<number>(0)
const form = reactive({
  name: '',
  region2: '',
  region: '',
  date1: '',
  date2: '',
  number: '',
  type: [],
  resource: 1,
  desc: '',
  unit: '',
  unittype: '',
  material: '',
  specs: '',
  code: '',
  supplier: '',
  distance: ''
})

const onSubmit = () => {
  console.log('submit!')
  addAndEditcals()
}
//4:钩子函数里使用这个状态，接收路由传过来的参数
onMounted(() => {
  stringTex.value = String(route.query.product_name)
  stringid.value = Number(route.query.id)
  product_id.value = Number(route.query.product_id)
  calcsid.value = Number(route.query.id)
  getdatamanagelist(pageIndex, pageSize, stringid, product_id, data_stage)
})

const getdatamanagelist = async (pageIndex, pageSize, stringid, product_id, data_stage) => {
  loading.value = true
  let params = {
    pageSize: pageSize.value,
    pageIndex: pageIndex.value,
    id: stringid.value,
    product_id: product_id.value,
    data_stage: data_stage.value
  }
  productdataApi(params).then((res) => {
    // console.log("222", res.data.data_stages);
    if (res.code == '200') {
      tableData.value = res.data.list
      Total.value = res.data.total
      data_stages.value = res.data.data_stages
      /**
       * 首次渲染 比如刷新
       */
      data_categories.value = res.data.data_categories ? res.data.data_categories : []
      data_materials.data = res.data.data_materials ? res.data.data_materials : []
      loading.value = false
    }
  })
}

const validNumber = (val,unit) => {
  let isTest = false;
  if(val === ''){ // 输入框判空
    isTest = true;
  }
  let n = Number(val);
  if(isNaN(n)){ //排除输入不合法
    isTest = true
  }else{
    if(n <= 0){ // 为-和非负数拦截
      isTest = true;
    }
      // unit 1-kg 2- t,不能超过十亿1e10吨
    if((unit == 1 && n > 1e13) || (unit == 2 && n > 1e10) ){
      isTest = true;
    }
    let arr = val.split('');
    let domNum = 0
    arr.map(a => {
      if(a == '.'){
        domNum += 1;
      }
    })
    if(domNum > 1){
      isTest = true
    }
  }
  isValidNumber.value = isTest
  console.log('isValidNumber.value',isValidNumber.value)
}
const validMaterial = (val) => {
  isValidMaterial.value = val ? false : true;
  console.log('isValidMaterial.value',isValidMaterial.value)

}
const validUnit = (val) => {
  isValidUnit.value = val ? false : true;
  console.log('isValidUnit.value ',isValidUnit.value )
}
          


// event: Event
const handleClick = (tab: TabsPaneContext) => {
  console.log('index', tab.props.name)
  activeName.value == '1' ? '1' : tab.props.name
  if (tab.props.name == 0) {
    tabyu.value = true
    tabVis.value = false
    data_stage.value = tab.props.name
    // activeName.value  =tab.props.name;

    let params = {
      pageSize: pageSize.value,
      pageIndex: pageIndex.value,
      id: stringid.value,
      product_id: product_id.value,
      data_stage: tab.props.name
    }
    productdataApi(params).then((res) => {
      seeDatas.value = res.data.list
    })
  } else if (tab.props.name == 1) {
    tabVis.value = true
    tabyu.value = false
    data_stage.value = tab.props.name
    // activeName.value  =tab.props.name;
    loading.value = true
    pageIndex.value = 1
    let params = {
      pageSize: pageSize.value,
      pageIndex: pageIndex.value,
      id: stringid.value,
      product_id: product_id.value,
      data_stage: tab.props.name
    }
    productdataApi(params).then((res) => {
      tableData.value = res.data.list
      Total.value = res.data.total
      data_categories.value = res.data.data_categories ? res.data.data_categories : []
      data_materials.data = res.data.data_materials ? res.data.data_materials : []
      console.log('1221', data_materials.data)
      loading.value = false
    })
  } else if (tab.props.name == 2) {
    tabVis.value = true
    tabyu.value = false
    data_stage.value = tab.props.name
    loading.value = false
    pageIndex.value = 1
    // activeName.value  =tab.props.name;
    let params = {
      pageSize: pageSize.value,
      pageIndex: pageIndex.value,
      id: stringid.value,
      product_id: product_id.value,
      data_stage: tab.props.name
    }
    productdataApi(params).then((res) => {
      tableData.value = res.data.list
      Total.value = res.data.total
      data_categories.value = res.data.data_categories ? res.data.data_categories : []
      data_materials.data = res.data.data_materials ? res.data.data_materials : []
      console.log('1221', data_materials.data)
      loading.value = false
      // activeName.value = res.data.data_stages[1].id
    })
  } else if (tab.props.name == 3) {
    tabVis.value = true
    tabyu.value = false
    data_stage.value = tab.props.name
    // activeName.value  =tab.props.name;
    loading.value = true
    //设置为1
    pageIndex.value = 1
    let params = {
      pageSize: pageSize.value,
      pageIndex: pageIndex.value,
      id: stringid.value,
      product_id: product_id.value,
      data_stage: tab.props.name
    }
    productdataApi(params).then((res) => {
      tableData.value = res.data.list
      Total.value = res.data.total
      data_categories.value = res.data.data_categories ? res.data.data_categories : []
      data_materials.data = res.data.data_materials ? res.data.data_materials : []
      // console.log('1221', data_materials.data)
      loading.value = false
      // activeName.value = res.data.data_stages[2].id
    })
  } else if (tab.props.name == 4) {
    tabVis.value = true
    tabyu.value = false
    data_stage.value = tab.props.name
    // activeName.value  =tab.props.name;
    loading.value = true
    pageIndex.value = 1
    let params = {
      pageSize: pageSize.value,
      pageIndex: pageIndex.value,
      id: stringid.value,
      product_id: product_id.value,
      data_stage: tab.props.name
    }
    productdataApi(params).then((res) => {
      tableData.value = res.data.list
      loading.value = false
      Total.value = res.data.total
      data_categories.value = res.data.data_categories ? res.data.data_categories : []
      data_materials.data = res.data.data_materials ? res.data.data_materials : []
      console.log('1221', data_materials.data)
      // activeName.value = res.data.data_stages[3].id
    })
  } else if (tab.props.name == 5) {
    tabVis.value = true
    tabyu.value = false
    data_stage.value = tab.props.name
    // activeName.value  =tab.props.name;
    loading.value = true
    let params = {
      pageSize: pageSize.value,
      pageIndex: pageIndex.value,
      id: stringid.value,
      product_id: product_id.value,
      data_stage: tab.props.name
    }
    productdataApi(params).then((res) => {
      tableData.value = res.data.list
      Total.value = res.data.total
      data_categories.value = res.data.data_categories ? res.data.data_categories : []
      data_materials.data = res.data.data_materials ? res.data.data_materials : []
      console.log('1221', data_materials.data)
      loading.value = false
      // activeName.value = res.data.data_stages[4].id
    })
  }
}
const handleCurrentChange = (val) => {
  pageIndex.value = val
  getdatamanagelist(pageIndex, pageSize, stringid, product_id, data_stage)
}
const handleSizeChange = (val) => {
  pageSize.value = val
  getdatamanagelist(pageIndex, pageSize, stringid, product_id, data_stage)
}

const typebtn = (type: string, obj?: object) => {
  console.log('类别', type)
  resetFromDate();
  if (type == 'add') {
    dialogVisible.value = true
    dialogTitle.value = '新增排放源'
    currentRowId.value = ''
    selectCertType2(6) //设置默认页面为原材料
  } else if (type == 'edit') {
    dialogVisible.value = true
    dialogTitle.value = '编辑排放源'
    currentRowId.value = obj.id;
    initEditValueDialog(obj);
  }
}

const initEditValueDialog = (obj) => {
  selectCertType2(obj.category_id)  //放最开始，其内部会清表单
    // form.region = obj.category_id  // 在selectCertType2内赋值
  // cates.value = form.region  // 在selectCertType2内赋值
  form.name = obj.name
  form.number = obj.number
  form.unittype = obj.unit_type //目前后端无返回
  weitype.value = form.unittype
  form.unit = obj.unit
  unitvalue.value = form.unit
  form.material = obj.material
  newarr.data = obj.materials == null? []:obj.materials
  form.distance = obj.distance  //目前后端无返回
  form.code = obj.code
  form.specs = obj.specs
  form.resource = obj.source
  matertype.value = obj.source
  form.region2 = obj.match_type
  mathtype.value = form.region2
  form.supplier = obj.supplier_id
  supplier.value = form.supplier
}

const resetValid = () => {
  isValidMaterial.value = false;
  isValidNumber.value = false;
  isValidUnit.value = false;
}
const typebtns = () => {
  validMaterial(form.material);
  validNumber(form.number,form.unit);
  validUnit(form.unit);

  if( isValidMaterial.value ||
      isValidNumber.value ||
      isValidUnit.value
    ){ //验证没通过
      return
    }
    

  // console.log('newarr.data', newarr.data)
  let isRepeat = false; // 材料名称是否重复
  if (newarr.data instanceof Array) {
    newarr.data.map(n => {
      if (n.name == form.material) {
        isRepeat = true;
        n.number = calculateNewNumByAddItem(n);
      }
    })
  };
  if (!isRepeat) {
    newarr.data.push({
      id: adindex.value++, //adindex要挂载
      name: form.material,
      number: toSixDecimals(form.number),
      unit: unitvalue.value
    })
  };
  form.material = '';
  form.number = '';
  form.unit = '';
  console.log('获取add', JSON.stringify(newarr.data))
}

const toSixDecimals = (val: number|string): string => {
  let v = val;
  if(typeof val == 'string'){
    v = Number(val);
  }
  // 为0和负数，NaN等的情况已用验证过滤掉了
  // 保留六位小数之后为'0'，返回'0.000001'，不为0,四舍五入后取6位小数
  let newV = v as number;
  let str: string = newV.toFixed(6)
  if(str == '0.000000'){
    return '0.000001'
  }else{
    return formmatNumber(str)
  }

}
// toFixed(6) 一定会返回小数点后6位，删除多余的0或者小数点
const formmatNumber = (val:string):string => {
  let arr = val.split('');
    console.log('split',arr);
    for(let i = 0; i <= 6; i++ ){ //删除fixed补足的0，最多6位
      if(arr[arr.length-1] == '0'){
        arr.pop()
      }
    }
    if(arr[arr.length - 1] == '.'){ // 最后一个数小数点则删除，对应整数
      arr.pop()
    }
    console.log('result',arr);
    return arr.join('');
}

const delMarter = (id: number) => {
  console.log('删除', id)
  newarr.data.splice(id, 1)
}
// 返回原数据和新数据相加的结果(需换算单位)
const calculateNewNumByAddItem = (item) => {
  let { number: oldNum, unit: oldUnit } = item;
  let { number: newNum, unit: newUnit } = form;
  let bigOldNum = new BigNumber(oldNum)
  let bigNewNum = new BigNumber(newNum)
  let multiplier = 1;
  // unit 1-kg 2- t
  if(oldUnit != newUnit){
    if(oldUnit == 1){ // newUnit = 2 ,对应已有为kg，新增t
      multiplier = 1000
    }else if(oldUnit == 2){ // newUnit = 1 ,对应已有为t，新增kg
      multiplier = 0.001
    }
  }
  let num =  bigNewNum.multipliedBy(multiplier).plus(bigOldNum);
  return formmatNumber(num.toFixed(6));  //四舍五入保留六位,然后格式化
}
//新增
const addAndEditcals = () => {
  let params = {
    id: currentRowId.value,
    product_calculate_id: calcsid.value, //核算id
    product_id: product_id.value, //产品id
    data_stage: activeName.value, //tab切换状态
    category: cates.value,
    name: form.name,
    number: form.number,
    unit_type: weitype.value,
    unit: unitvalue.value,
    code: form.code,
    specs: form.specs,
    material: form.material, //材质
    source: matertype.value, //来源
    supplier_id: supplier.value,
    match_type: mathtype.value,
    distance: form.distance, //運輸距離
    menu_id: '',
    url: '',
  }
  if(cates.value == 8){ // 运输时候未添加的值不传后端
    delete params.material
    delete params.unit
    delete params.number
  }
  let arr = JSON.parse(JSON.stringify(newarr.data));
  if(arr.length > 0 ){  // length 大于0时候传数组转成字符串给后端，空数组不传
    params.materials = JSON.stringify(newarr.data)
  }
  if(params.id === '' || params.id == null){ //新增排放源
    delete params.id
    productdataadd(params).then((res) => {
    // console.log("新增获取状态",res);
      if (res.code == '200') {
        resetFromDate();
        dialogVisible.value = false
        getdatamanagelist(pageIndex, pageSize, stringid, product_id, data_stage)
      }
    })
  }else{  //编辑排放源
    productdataedit(params).then( res => {
      if(res.code == '200'){
        resetFromDate();
        dialogVisible.value = false
        getdatamanagelist(pageIndex, pageSize, stringid, product_id, data_stage)
      }
    } )
  }

}
// 清空表单数据
const resetFromDate = () => {
  newarr.data = [];
  resetValid();
  form.name = ''
  form.region2 = ''
  form.region = ''
  form.date1 = ''
  form.date2 = ''
  form.number = ''
  form.resource = 1
  form.desc = ''
  form.unit = ''
  form.unittype = ''
  form.material = ''
  form.specs = ''
  form.code = ''
  form.supplier = ''
  form.distance = ''
  weitype.value = form.unittype
  unitvalue.value = form.unit
  mathtype.value = form.region2
  supplier.value = form.supplier
}
const deleteBtn = (row: any) => {
  console.log('ss', row)
  ElMessageBox.confirm('将对指定排放源进行删除,是否确认', '提示', {
    confirmButtonText: '确认',
    cancelButtonText: '取消',
    type: 'warning'
  })
    .then(() => {
      let params = {
        id: row.id,
        name: row.name,
        menu_id: '',
        url: ''
      }
      productdatadel(params)
        .then((res) => {
          if (res.code == '200') {
            getdatamanagelist(pageIndex, pageSize, stringid, product_id, data_stage)
          }
        })
        .finally(() => { })
    })
    .catch(() => {
      return
    })
}
//类别
const selectCertType2 = (val: any) => {
  console.log('获取选择类别', typeof val, val)
  if(val == '' || val == null){
    return 
  }else{
    resetFromDate();
    form.region = val;  //上面reset了，这里需要重新赋值
    cates.value = val
    if (val== 8 || val == 9) {
      othersvis.value = false
    } else if (val == 6 || val == 7) {
      othersvis.value = true
    }
  }
}
//匹配
const partTypesClick = (val: any) => {
  console.log('获取选择', val)
  mathtype.value = val
}
//供应商
const partsupplier = (val: any) => {
  console.log('获取选择', val)
  supplier.value = val
}
//材质
const partresource = (val: any) => {
  console.log('获取选择材质', val)
  matertype.value = val
}
//单位量kg
const partresunit = (val: any) => {
  console.log('获取选择单位量', val)
  unitvalue.value = val
}
//单位类型
const partresweight = (val: any) => {
  console.log('获取选择单位', val)
  weitype.value = val
}
//选择材质
const partresmaterial = (val: any) => {
  console.log('获取选择材质', val)
  form.material = val
}
</script>
<template>
  <ContentWrap>
    <ContentWrap>
      <!-- tab切换索引:{{activeName}} -->
      <div class="pro_name">产品名称 : {{ stringTex == '' ? '-' : stringTex }}</div>
    </ContentWrap>
    <div style="margin-top: 5px">
      <!-- v-model="activeName" -->
      <el-tabs lazy v-model="activeName" class="demo-tabs" @tab-click="handleClick">
        <el-tab-pane style="margin-top: -32px" v-for="(tabitem, index) in data_stages" :key="index"
          :label="tabitem.name" :name="tabitem.id">
          <div v-if="tabyu">
            <table class="gx-table3" cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <th></th>
                <th>核算阶段</th>
                <th>类型</th>
                <th>排放源名称</th>
                <th>数量</th>
                <th>排放因子</th>
                <!-- <th>排放量</th> -->
              </tr>
              <tbody style="width: 100%" v-for="(item, index) in seeDatas" :key="index">
                <tr>
                  <td :rowspan="item.datas.length + 1">
                    {{ item.data_stage }}
                  </td>
                </tr>
                <tr v-for="(value, i) in item.datas" :key="i">
                  <td>{{ value.name }}</td>
                  <td>{{ value.category }}</td>
                  <!-- 后续单位 -->
                  <td> {{ value.number }}kg </td>
                  <td>
                    <!-- {{ value.xjszlb }} -->
                    -
                  </td>
                  <td>
                    <!-- {{ value.qjszlb }} -->
                    -
                  </td>
                </tr>
              </tbody>
              <tr>
                <td colspan="5" style="background: #f1f5fa; color: #000; font-weight: 700">合计</td>
                <td>0</td>
              </tr>
            </table>
          </div>
          <div v-if="tabVis">
            <el-button  @click="typebtn('add')" style="
                background: #b3aaaa;
                color: #fff;
                border: none;
                float: right;
                margin-bottom: 15px;
              ">
              新增排放源
            </el-button>
            <el-table border :data="tableData" 
              :header-cell-style="{ background: '#F1F5FA',color: '#000' }" v-loading="loading" tooltip-effect="light">
              <el-table-column type="selection" width="55" />
              <el-table-column type="index" label="序号" width="55" />
              <el-table-column prop="name" label="名称" width="180" />
              <el-table-column prop="code" label="编码" />
              <el-table-column prop="specs" label="规格" />
              <el-table-column prop="category" label="类别" width="180" />
              <el-table-column prop="material" label="材质" width="180" />
              <el-table-column prop="number" label="数量" show-overflow-tooltip />
              <!-- <el-table-column prop="name" label="质量" width="180" /> -->
              <el-table-column prop="source" label="来源" />
              <el-table-column prop="title" label="供应商" />
              <el-table-column prop="match_type" label="匹配类型" width="180">
                <template #default="scope">
                  {{ scope.row.match_type == 1 ? '因子' : '产品' }}
                </template>
              </el-table-column>
              <el-table-column prop="yc" label="因子/产品" width="180"> - </el-table-column>
              <el-table-column prop="py" label="排放因子" width="180"> - </el-table-column>
              <el-table-column prop="emissions" label="排放量">
                <template #default="scope">
                  {{ scope.row.emissions == '' ? '-' : scope.row.emissions }}
                </template>
              </el-table-column>
              <el-table-column label="操作" width="140" align="left" fixed="right">
                <template #default="scope">
                  <div>
                    <el-button style="
                        background-color: rgba(253, 251, 251, 0.2);
                        border:none;
                        color: #5087ec;
                        margin-left: -15px;
                      " @click="typebtn('edit',scope.row)">编辑</el-button>
                    <el-button
                      style="background-color: rgba(253, 251, 251, 0.2);border: none;color: #5087ec;"
                      @click="deleteBtn(scope.row)">删除</el-button>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-tab-pane>
      </el-tabs>
      <div style="margin-top: 5px" v-if="tabVis">
        <el-pagination v-if="tableData.length > 0" background @current-change="handleCurrentChange"
          @size-change="handleSizeChange" :current-page="pageIndex" :page-sizes="[10, 20, 40]" :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper" :total="Total" />
      </div>
    </div>
  </ContentWrap>
  <!-- 新增、编辑弹框 -->
  <!-- 注意 封装过得对话框不要再使用  label-width="100px"  不然報錯 -->
  <Dialog v-model="dialogVisible" :title="dialogTitle" class="addOrEditCateItemDialog">
    <div>
      <el-form :model="form">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="类别 :">
              <el-select v-model="form.region" placeholder="请选择类别" style="width: 100%" @change="selectCertType2" clearable >
                <el-option v-for="cateitem in data_categories" :label="cateitem.name" :value="cateitem.id" :key="cateitem.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <!-- 9开始 -->
        <el-row :gutter="20">
          <el-col :span="12" v-if="cates == 9">
            <el-form-item label="排放源名称 :">
              <el-input v-model="form.name" placeholder="请输入名称" clearable/>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="cates == 9" :gutter="20">
          <el-col :span="6">
            <el-form-item label="用量 :">
              <el-input v-model="form.number" placeholder="请输入用量" clearable/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-select v-model="form.unittype" placeholder="请选择单位类型" style="width:100%" @change="partresweight(form.unittype)" clearable >
              <el-option 
                v-for='item in data_dict.unitType'
                :key='item.value' 
                :label='item.str' 
                :value='item.value'
              />
            </el-select>
          </el-col>
          <el-col :span="6">
            <el-select v-model="form.unit" placeholder="请选择单位" style="width:100%" @change="partresunit(form.unit)"  clearable>
              <el-option 
                v-for='item in data_dict.unit'
                :key='item.value' 
                :label='item.str' 
                :value='item.value'
              />
            </el-select>
          </el-col>
        </el-row>
        <!-- 9结束 -->
        <!--  8开始-->
        <el-row :gutter="20">
          <el-col :span="12" v-if="cates == 8">
            <el-form-item label="运输类型名称 :">
              <el-input v-model="form.name" placeholder="请输入名称" clearable />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="cates == 8" :gutter="20">
          <el-col :span="6" class="valid-select-item">
            <el-select v-model="form.material" placeholder="请选择材质"  :class="{'valid-fail-item':isValidMaterial}"
              style="width:99%;margin-left: 1px"
              @change="partresmaterial(form.material)" clearable>
              <el-option :label="materitem.material" :value="materitem.material"
                v-for="(materitem, materindex) in data_materials.data" :key="materindex" />
            </el-select>
            <div v-if="isValidMaterial" class="valid-form-item-text">材质不能为空</div>
          </el-col>
          <el-col :span="6">
            <el-form-item class="valid-item">
              <!-- oninput="value=value.replace(/^\.+|[^\d]/g,'')" -->
              <!-- form.number=value.replace(/^\.+|[^\d]/g,'')" -->
              <el-input v-model="form.number" placeholder="请输入用量" :class="{'valid-fail-item':isValidNumber}" maxlength="27" clearable/>
              <!-- max-length 27 = 10亿数的10位 g-kg-t 换算的 9位，小数点 1位。小数点后面7位 10+9+1+7 =27 -->
              <div v-if="isValidNumber" class="valid-form-item-text">请正确输入数字</div>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="valid-select-item">
              <el-select 
                v-model="form.unit" 
                placeholder="请选择单位" 
                @change="partresunit(form.unit)" 
                :class="{'valid-fail-item':isValidUnit}" 
                style="width:100%"
                clearable>
                <el-option 
                  v-for='item in data_dict.unit'
                  :key='item.value' 
                  :label='item.str' 
                  :value='item.value'
                />
              </el-select>
            <div v-if="isValidUnit" class="valid-form-item-text">单位不能为空</div>
          </el-col>
          <el-col v-if="cates == 8" :span="4">
            <el-button @click="typebtns" type="danger"> 添加 </el-button>
          </el-col>
        </el-row>
        <!-- 添加 -->
        <div v-if="cates == 8">
          <template v-if="newarr.data.length > 0">
            <div style="
                display: flex;
                line-height: 25px;
                font-size: 16px;
                color: #90ceb7;
                font-weight: 700;
              " v-for="(yItem,yIndex) in newarr.data" :key="yItem" track-by="$index">
              <div class="yname">{{ yItem.name }}</div>
              <div class="yname" style="margin: 0 10px">{{ yItem.number }}{{ yItem.unit == 1 ? 'kg' : yItem.unit == 2 ?
                  't' : 'g'
              }}</div>
              <div class="yname" style="
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background-color: red;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-top: 5px;
                  cursor: pointer;
                " @click="delMarter(yIndex)">
                -</div>
            </div>
          </template>
          <template v-else>
            <div style="
                display: flex;
                justify-content: center;
                align-items: center;
                color: red;
                font-size: 16px;
              ">暂无添加项</div>
          </template>
        </div>
        <el-row>
          <el-col :span="12" v-if="cates == 8">
            <el-form-item label="运输距离 :">
              <el-input v-model="form.distance"  placeholder="请输入运输距离"  clearable/>
            </el-form-item>
          </el-col>
        </el-row>

        <!--  8结束-->
        <!-- 其他不展示通过js实现 -->
        <div v-if="othersvis">
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="名称 :">
                <el-input v-model="form.name"  placeholder="请输入名称" clearable/>
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="编码 :">
                <el-input v-model="form.code" placeholder="请输入编码" clearable />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="规格 :">
                <el-input v-model="form.specs"  placeholder="请输入规格" clearable/>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="材质 :" v-if="cates !== 7">
                <el-input v-model="form.material"  placeholder="请输入材质" clearable/>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="数量 :">
                <el-input v-model="form.number" placeholder="请输入数量" clearable/>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="12">
                  <el-select v-model="form.unittype" placeholder="请选择单位类型" style="width: 100%"
                    @change="partresweight(form.unittype)" clearable>
                    <el-option 
                      v-for='item in data_dict.unitType'
                      :key='item.value' 
                      :label='item.str' 
                      :value='item.value'
                    />
                  </el-select>
                </el-col>
                <el-col :span="12">
                  <el-select v-model="form.unit" placeholder="请选择单位" style="width: 100%" @change="partresunit(form.unit)"  clearable>
                    <el-option 
                      v-for='item in data_dict.unit'
                      :key='item.value' 
                      :label='item.str' 
                      :value='item.value'
                    />
                  </el-select>
                </el-col>
              </el-row>

            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="来源 :" clearable>
                <el-radio-group v-model="form.resource" @change="partresource(form.resource)">
                  <el-radio :label="1">自产</el-radio>
                  <el-radio :label="2">外采</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="供应商 :" v-if="matertype && matertype == 2">
                <el-select v-model="form.supplier" @change="partsupplier(form.supplier)" placeholder="请选择匹配类型"
                  style="width: 390px" clearable>
                  <el-option label="供应商A" :value="1" />
                  <el-option label="供应商B" :value="2" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="匹配类型 :">
                <el-select v-model="form.region2" @change="partTypesClick(form.region2)" placeholder="请选择匹配类型"
                  style="width: 100%" clearable>
                  <el-option label="因子" :value="1" />
                  <el-option label="产品" :value="2" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

        </div>
      </el-form>
    </div>
    <template #footer>
      <div class="dialog-footer" style="text-align: center">
        <el-button type="primary" @click="onSubmit">保存</el-button>
        <el-button @click="dialogVisible = false">关闭</el-button>
      </div>
    </template>
  </Dialog>
</template>

<style>
.pro_name {
  color: #101010;
}
table {
    margin-top:0px;
    table-layout: fixed;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  
  th,
  td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    padding: 12px 0;
    color: #666;
    font-size: 14px;
  }
  
  th {
    font-weight: normal;
    background-color: #f1f5fa;
    color: #000;
  }

.demo-tabs>.el-tabs__content {
  padding: 32px;
  color: #6b778c;
  font-size: 32px;
  font-weight: 600;
}
.addOrEditCateItemDialog .valid-item .el-form-item--default{
  margin-bottom: 0;
}
/* 输入框、下拉框验证失败边框 */
.addOrEditCateItemDialog .valid-item .valid-fail-item,
.addOrEditCateItemDialog .valid-select-item .valid-fail-item{
  box-shadow:0 0 0 1px red;
  border-radius: 4px;
}
/* 输入框验证失败文本样式 */
.addOrEditCateItemDialog .valid-item .valid-form-item-text{
  position: absolute;
  bottom: -28px;
  margin-left: 6px;
  color: red;
  font-size: 12px;
}
/* el-input框聚焦时候显示灰色，盖掉原来的蓝色 */
.addOrEditCateItemDialog .valid-item .el-input__wrapper{
  box-shadow:0 0 0 1px #dcdfe6;
}
/* el-input框聚焦时样式验证失败显示红色，盖掉原来的灰色 */
.addOrEditCateItemDialog .valid-item .valid-fail-item .el-input__wrapper{
  box-shadow:0 0 0 1px red;
}

/* el-elsect框聚焦时候显示灰色，盖掉原来的蓝色 */
.addOrEditCateItemDialog .valid-select-item .el-input__wrapper{
  box-shadow:0 0 0 1px #dcdfe6!important;
}
/* el-input框聚焦时样式验证失败显示红色，盖掉原来的灰色 */
.addOrEditCateItemDialog .valid-select-item  .valid-fail-item .el-input__wrapper {
  box-shadow:0 0 0 1px red!important;
}
/* 下拉框验证失败文本样式 */
.addOrEditCateItemDialog .valid-select-item .valid-form-item-text{
  margin-left:8px;
  color: red;
  font-size: 12px;
}
</style>