<script lang='ts' setup>
import { onMounted, ref, reactive } from 'vue'
import { ElDialog, ElScrollbar, FormRules, FormInstance, ElMessageBox, timeUnits } from 'element-plus'
import { Dialog } from '@/components/Dialog'
import { ContentWrap } from '@/components/ContentWrap'
import useDepaTable from '@/composables/businessaccount/useBusinessTable';
import useDept from '@/composables/businessaccount/useBusiness';
import { useRouter } from "vue-router";
import { productdatappli } from "@/api/product/business"
import { getTableListApi } from "@/api/product/index"
import { any } from 'vue-types';
import { delprocalculate, addcalculate, detailscalculate, editcalculate } from "@/api/product/business"
import { checkServerIdentity } from 'tls';
const dialogVisibles = ref(false)
const ruleFormRef = ref<FormInstance>()
const { searchParm, tableData, getDeptList, tableHeigth, handleCurrentChange,
  handleSizeChange, Total, loading } = useDepaTable();
const { serachBtn, resetBtn } = useDept(getDeptList, searchParm);
const loadings = ref(false)
const qrProname = ref<string>('')
const Productlist = ref([])
const pageIndex = ref(1)
const pageSize = ref(10)
onMounted(() => {
  getProductlist(pageIndex, pageSize)
});
const getProductlist = async (pageSize, pageIndex) => {
  let params = {
    pageSize: pageSize.value,
    pageIndex: pageIndex.value,
  }
  getTableListApi(params).then(res => {
    Productlist.value = res.data.active;
  })
}
const seeQr = (val: any) => {
  qrProname.value = val.product_name
  dialogVisibles.value = true;
}
const goLabelPhonePage = (row: any) => {
  router.push({ path: '/product/labelphonepage', query: row})
}
const router = useRouter();
const delItem = (row: object) =>{
  goLabelPhonePage(row)
//   console.log('row',row)
//   const {product_name:name, id} = row
//   ElMessageBox.confirm(
//     `将删除${name}的碳标签,是否确认`,
//     '提示',
//     {
//       confirmButtonText: '确认',
//       cancelButtonText: '取消',
//       type: 'warning',
//     }
//   ).then(() => {
//     let params = {
//       id: id
//     }
//     delLabelItem(params).then(res => {
//       if (res.code == '200') {
//         getProductlist(pageIndex, pageSize)
//       }
//     })
//     .finally(() => { })
//   }).catch(() => {
//       return
//   })
}
</script>
<template>
  <ContentWrap>
    <ContentWrap>
      <!-- serch -->
      <div class="serarchCon">
        <div class="serachForm_left">
          <el-form :inline="true" :model="searchParm" class="demo-form-inline">
            <el-form-item label="产品名称">
              <el-input v-model="searchParm.filterProductName" placeholder="请输入产品名称" />
            </el-form-item>
          </el-form>
        </div>
        <div class="searchform_right">
          <el-button size="mini" @click="serachBtn" style="background:#B3AAAA;color:#fff;border:none;">
            <Icon icon="ep:search" class="mr-2px" />
            查询
          </el-button>
          <el-button size="mini" @click="resetBtn" style="background:#fff;color:#000;">
            <Icon icon="ep:refresh-right" class="mr-2px" />
            重置
          </el-button>
        </div>
      </div>
      <div class="add_right">
        <el-button size="mini" style="background:#B3AAAA;color:#fff;border:none;">
          新建标签
        </el-button>
      </div>
    </ContentWrap>
    <el-table :data="tableData.list" style="width:100%;margin-top: 5px;" border class="table_class"
      :header-cell-style="{ background: '#F1F5FA', color: '#000' }" v-loading="loading">
      <el-table-column type="selection" width="60" />
      <el-table-column type="index" label="序号" width="60" />
      <el-table-column prop="product_name" label="产品名称" width="160">
        <template #default="scope">
          {{ scope.row.product_name == "" ? '-' : scope.row.product_name }}
        </template>
      </el-table-column>
      <el-table-column prop="product_no" label="产品编码" width="160" />
      <el-table-column prop="product_spec" label="产品规格" width="160" />
      <el-table-column prop="number" label="核算数量" width="160" />
      <el-table-column prop="week" label="核算周期"  />
      <el-table-column prop="deptPhone" label="碳排放系数"  />
      <el-table-column prop="deptPhone" label="包含阶段" />
      <el-table-column label="操作" width="224" align="left" fixed="right">
        <template #default="scope">
          <div>
            <el-tooltip class="box-item" effect="light" content="扫码查看碳足迹" placement="top-start">
              <el-button style="background-color:rgba(253,251,251,.2);margin-left: -15px;border:none;color:#5087EC;"
                @click="seeQr(scope.row)">查看二维码</el-button> </el-tooltip>
            <el-button
              style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: -15px;">查看详情</el-button>
            <el-button
              style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: -15px;" @click="delItem(scope.row)">删除</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top:5px;">
      <el-pagination background @current-change="handleCurrentChange" @size-change="handleSizeChange"
        :current-page="searchParm.pageIndex" :page-sizes="[8, 10, 20, 40]" :page-size="searchParm.pageSize"
        layout="total, sizes, prev, pager, next, jumper" :total="Total" />
    </div>
  </ContentWrap>

  <el-dialog  class="newDialog"  v-model="dialogVisibles" title="提示" width="360" height="100" :before-close="handleClose">
    <div class="qrCodes">
      <div class="qrContent">
        <img src="@/assets/imgs/codeer.png" style="width:100%;height:100%;" />
      </div>
    </div>
    <div class="qrFoots">
      <div>扫码即可查看</div>
      <div class="qrNames">{{ qrProname }}碳足迹</div>
    </div>
  </el-dialog>
</template>
<style lang="less" scoped>
.clearButton {
  position: absolute;
  border-radius: 10px;
  right: 0px;
  z-index: 2;
  border: none;
  top: -16px;
  height: 40px;
  cursor: pointer;
  color: #ccc;
  width: 15px;
  padding: 3px;
  height: 15px;
  line-height: 3px;
  display: block;
  border: 1px solid #ccc;
  font-size: 13px;
}

.clearButton:hover {
  color: #878d99;

}

.serarchCon {
  display: flex;
  justify-content: space-between;
}

.qrCodes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;

  .qrContent {}
}

.qrFoots {
  margin-top: 20px;
  text-align: center;
  line-height: 35px;
  color: #4E514E;
  font-weight: 700;
  font-size: 16px;

  .qrNames {
    color: #4E514E;
    font-weight: 700;
    font-size: 14px;
  }
}

.add_right {
  display: flex;
  flex-direction: row-reverse;
}

table {
  margin-top: 20px;
  table-layout: fixed;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

th,
td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  padding: 12px 0;
  color: #666;
  font-size: 14px;
}

th {
  font-weight: normal;
  background-color: #F1F5FA;
  color: #000;
}

::v-deep .el-date-picker-contaier .el-form-item__content {
  flex: none;
  width: 300px;
}
.newDialog .el-dialog__header{
      border-bottom: 1px solid #e8eaec;
}
</style>

