<script lang='ts' setup>
import { onMounted, ref, reactive, nextTick } from 'vue'
import { ElDialog, ElScrollbar, FormRules, FormInstance, ElMessageBox } from 'element-plus'
import { Dialog } from '@/components/Dialog'
import { ContentWrap } from '@/components/ContentWrap'
import addReports from './components/reports/addReports.vue'
import { useRouter } from "vue-router";
import useDepaTable from '@/composables/businessaccount/report/useReportTable';
import useDept from '@/composables/businessaccount/report/useReport';
import { getCalculatereportweeks, calculatereportAdd, calculatereportEdit } from '@/api/product/report'
import { value } from 'dom7'
const { searchParm, products, tableData, getReportdata, getReportdeta, getDeptList, handleCurrentChange, handleSizeChange, Total, loading, report_types } = useDepaTable();
const { serachBtn, resetBtn, delReports } = useDept(getDeptList, searchParm);
const dialogVisible = ref(false)
const ruleFormRef = ref<FormInstance>()
const dialogTitle = ref<string>("")
const reportTypes = ref<string>("")
const editproduct_id = ref<number>()
const reportType_id = ref<number>()
const  editproduct_calculate_id = ref<number>()
const calTime = reactive({
  data: []
})
onMounted(() => {
});
const router = useRouter();
const seeReport = (id: any, type: string) => {
  console.log("获取编辑数据", id);
  editproduct_id.value = id.product_id;
  editproduct_calculate_id.value = id.product_calculate_id;
  reportType_id.value = id.report_type_id;
  reportTypes.value = type;
  dialogTitle.value = type == 'add' ? '新增' : type == 'edit' ? "编辑" : "查看"
  nextTick(() => {
    dialogVisible.value = true;
  })
  if (type && type == 'add') {
    ruleForm.name = ""
    ruleForm.region = ""
    ruleForm.count = ""
    ruleForm.types = ""
    ruleForm.desc = ""
  }
  //get  -->{}
  //查看
  if (type && type == 'see') {
    getReportdeta({ id: id.id });
  } else if (type && type == 'edit') {
    ruleForm.name = id.report_name
    ruleForm.region = id.product_name
    ruleForm.count = id.count_date
    ruleForm.types = id.report_type
    ruleForm.desc = id.description
    ruleForm.editId = id.id;
  }
}
const delReport = (id: any) => {
  ElMessageBox.confirm(
    "确认删除?",
    '提示',
    {
      confirmButtonText: '确认',
      cancelButtonText: '取消',
      type: 'warning',
    }
  ).then(() => {
    //post 
    let params = {
      id: id
    }
    delReports(params).finally(() => {
      getDeptList()
    })

  })
    .catch(() => {
      return
    })
}
const geteaddReports = ref()
const reportForms = ref([])
const ruleForm = reactive({
  name: '',
  region: '',
  count: '',
  date1: '',
  date2: '',
  delivery: false,
  types: "",
  resource: '',
  desc: '',
  editId: ""
})
const rules = reactive<FormRules>({
  name: [
    { required: true, message: '请输入报告名称 ', trigger: 'blur' },
  ],
  region: [
    {
      required: true,
      message: '请选择产品',
      trigger: 'change',
    }
  ],
  types: [
    {
      required: true,
      message: '请选择报告类型',
      trigger: 'change',
    },
  ]
})


const rulesEdit = reactive<FormRules>({
  name: [
    { required: true, message: '请输入报告名称 ', trigger: 'blur' },
  ],
  region: [
    {
      required: true,
      message: '请选择产品',
      trigger: 'change',
    }
  ],
  types: [
    {
      required: true,
      message: '请选择报告类型',
      trigger: 'change',
    },
  ]
})
const productId = ref()
const proproductCalculateId = ref()
const getProCal = (id: number) => {
  productId.value = id;
  getCalculatereportweeks({ product_id: id }).then(res => {
    let procalList = [];
    procalList = res.data.list;
    console.log("RES", procalList);
    for (var k of procalList) {
      calTime.data.push(k)
    }
    // console.log("获取核算", calTime.data);
  })
}
const delcles = () => {
  if (ruleForm.desc) {
    ruleForm.desc = ''
  }
}
const getProCals = (id: number) => {
  proproductCalculateId.value = id;
}
const submitForm = async (formEl: FormInstance | undefined, type: string) => {
  console.log("type", type);
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      loading.value = true;
      if (type == "add") {
        let params = {
          product_id: productId.value,
          product_calculate_id: proproductCalculateId.value,
          report_name: ruleForm.name,
          count_date: ruleForm.count,
          report_type: ruleForm.types,
          description: ruleForm.desc,
          menu_id: "",
          url: "",
        }
        calculatereportAdd(params).then(res => {
          if (res.code == '200') {
            ruleForm.name = "";
            ruleForm.region = "";
            ruleForm.types = "";
            ruleForm.desc = "";
            ruleForm.count = "";
            dialogVisible.value = false;
            loading.value = false;
            getDeptList()
          }

        }).finally(()=>{
          loading.value = false;
        })
      }
      if (type == "edit") {
        let params = {
          id: ruleForm.editId,
          product_id: productId.value == undefined ? editproduct_id.value  : productId.value,
          product_calculate_id:proproductCalculateId.value == undefined ? editproduct_calculate_id.value : proproductCalculateId.value,
          report_name: ruleForm.name,
          count_date: ruleForm.count,
          report_type: ruleForm.types == undefined ? ruleForm.types : reportType_id.value,
          description: ruleForm.desc,
          menu_id: "",
          url: "",
        }
        calculatereportEdit(params).then(res => {
          if (res.code == '200') {
            ruleForm.name = "";
            ruleForm.region = "";
            ruleForm.types = "";
            ruleForm.desc = "";
            ruleForm.count = "";
            dialogVisible.value = false;
            loading.value = false;
            getDeptList()
          }
        }).finally(()=>{
          loading.value = false;
        })
      }
    } else {
      console.log('error submit!', fields)
    }
  })
}

</script>
<template>
  <ContentWrap>
    <!-- serch -->
    <ContentWrap>
      <div class="serarchCon">
        <div class="serachForm_left">
          <el-form :inline="true" :model="searchParm" class="demo-form-inline">
            <el-form-item label="报告名称">
              <el-input v-model="searchParm.filterReportName" placeholder="请输入产品名称" clearable />
            </el-form-item>
            <el-form-item label="核算产品">
              <el-input v-model="searchParm.filterProductName" placeholder="请输入产品编码" clearable />
            </el-form-item>
            <el-form-item label="类型">
              <!-- 后端允许传递的是枚举类型 :value绑定指定的数值 如果传递的都是string保持和label一致 -->
              <el-select v-model="searchParm.filterType" placeholder="请选择状态" clearable>
                <el-option :label="typereport.report_type" :value="typereport.id"
                  v-for="(typereport, id) in  report_types.data" :key="id" />
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div class="searchform_right">
          <el-button @click="serachBtn" style="background:#B3AAAA;color:#fff;border:none;">
            <Icon icon="ep:search" class="mr-2px" />
            查询
          </el-button>
          <el-button @click="resetBtn" style="background:#fff;color:#000;">
            <Icon icon="ep:refresh-right" class="mr-2px" />
            重置
          </el-button>
          <el-button style="background:#B3AAAA;color:#fff;border:none;" @click="seeReport(1, 'add')">
            新增报告
          </el-button>
        </div>
      </div>
    </ContentWrap>
    <!-- tables -->
    <div class="tables">
      <el-table  :data="tableData.list" style="width: 100%;margin-top: 5px;" border class="table_class"
        :header-cell-style="{ background: '#F1F5FA', color: '#000' }" v-loading="loading">
        <el-table-column prop="report_name" label="报告名称">
          <template #default="scope">
            {{ scope.row.report_name == "" ? '-' : scope.row.report_name }}
          </template>
        </el-table-column>
        <el-table-column prop="report_type" label="报告类型" />
        <el-table-column prop="product_name" label="核算产品" />
        <el-table-column prop="count_date" label="核算时间" />
        <el-table-column prop="username" label="更新人" />
        <el-table-column prop="modify_time" label="更新时间"  />
        <el-table-column fixed="right" label="操作" width="225">
          <template #default="scope">
            <el-button @click="seeReport(scope.row, 'see')"
              style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: 0;margin-left: -15px;">查看详情</el-button>
            <el-button
              style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: -15px;">下载</el-button>
            <el-button @click="seeReport(scope.row, 'edit')"
              style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: -15px;">编辑</el-button>
            <el-button @click="delReport(scope.row.id)"
              style="background-color:rgba(253,251,251,.2);border:none;color:#5087EC;margin-left: -15px;">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:5px;">
        <el-pagination background @current-change="handleCurrentChange" @size-change="handleSizeChange"
          :current-page="searchParm.pageIndex" :page-sizes="[8, 10, 20, 40]" :page-size="searchParm.pageSize"
          layout="total, sizes, prev, pager, next, jumper" :total="Total" />
      </div>
    </div>
    <!--查看对话框 -->
    <Dialog v-model="dialogVisible" :title="dialogTitle" v-cloak>
      <!-- 查看 -->
      <div class="seeReport" v-if="reportTypes == 'see'">
        <div style="line-height:50px;color:#000;font-size:16px;" v-for="(reportSee, idsee) in getReportdata.list"
          :key="idsee">
          <div>报告名称 :{{ reportSee.report_name }}</div>
          <div>类型 :{{ reportSee.report_type }}</div>
          <div>核算产品 :{{ reportSee.product_name }}</div>
          <div class="pro_num" style="display: flex;justify-content: space-between;">
            <div class="left_pros">
              评价周期 ：{{ reportSee.count_date }}
            </div>
            <div class="left_pros">
              核算数量 ：{{ reportSee.number }}
            </div>
          </div>
          <div class="pro_num" style="display: flex;justify-content: space-between;">
            <div class="left_pros">
              碳排放量 ：-
            </div>
            <div class="left_pros">
              碳排放系数 ：-
            </div>
          </div>
          <div>报告说明 :{{ reportSee.description }}</div>
        </div>
      </div>
      <!-- 新增 -->
      <div class="seeReport" v-if="reportTypes == 'add' || reportTypes == 'edit'">
        <!-- <addReports :dialogVisible="dialogVisible" /> -->
        <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" :labelPosition="top">
          <el-form-item label="报告名称" prop="name">
            <el-input clearable v-model="ruleForm.name" style="width:447px;" placeholder="请输入报告名称" />
          </el-form-item>
          <el-form-item label="选择产品" prop="region">
            <!-- <el-col :span="7.5"> -->
              <!-- 注意：绑定不一致 选择值还是处罚校验 -->
              <el-select v-model="ruleForm.region" placeholder="请选择产品" clearable>
                <el-option :label="proItem.name" :value="proItem.name" v-for="(proItem, idp) in products.datas"
                  @click="getProCal(proItem.product_id)" :key="idp" />
              </el-select>
            <!-- </el-col> -->
            <!-- <el-col :span="8.5"> -->
              <el-select v-model="ruleForm.count" placeholder="请选择产品核算时间" clearable style="margin-left:18px;">
                <el-option :label="calItem.count_date" :value="calItem.count_date"
                  v-for="(calItem, idps) in calTime.data" @click="getProCals(calItem.product_calculate_id)"
                  :key="idps" />
              </el-select>
            <!-- </el-col> -->
          </el-form-item>
          <el-form-item label="报告类型" prop="types">
            <el-select v-model="ruleForm.types" clearable placeholder="请选择报告类型" style="width:447px;">
              <el-option :label="typereport.report_type" :value="typereport.id"
                v-for="(typereport, id) in  report_types.data" :key="id" />
            </el-select>
          </el-form-item>

          <el-form-item label="报告说明">
            <el-input type="textarea" :rows="5" resize="none" show-word-limit :autosize="{ minRows: 1, maxRows: 3 }"
              placeholder="请输入报告说明" v-model="ruleForm.desc" maxlength="200" style="width:447px;" />
              <span style="position: relative;"> <span v-if="ruleForm.desc && ruleForm.desc.length > 0" class="clearButton" @click="delcles">x</span></span>
          </el-form-item>
        </el-form>
      </div>
      <template #footer v-if="reportTypes == 'edit' || reportTypes == 'add'">
        <div class="dialog-footer" style="text-align:center">
          <ElButton @click="submitForm(ruleFormRef, reportTypes)" type="primary" align="center"
            :loading="loading">保存</ElButton>
            <ElButton @click="dialogVisible = false" align="center">关闭</ElButton>
        </div>
      </template>
    </Dialog>
  </ContentWrap>
</template>
<style lang="less" scoped>
.clearButton {
  position: absolute;
  border-radius: 10px;
  right:0px;
  z-index: 2;
  border: none;
  top:-16px;
  height: 40px;
  cursor: pointer;
  color: #ccc;
  width: 15px;
  padding: 3px;
  height: 15px;
  line-height: 3px;
  display: block;
  border: 1px solid #ccc;
  font-size: 13px;
}

.clearButton:hover {
  color: #878d99;
}

.serarchCon {
  display: flex;
  justify-content: space-between;
}

.add_right {
  display: flex;
  flex-direction: row-reverse;
}

table {
  margin-top: 20px;
  table-layout: fixed;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

th,
td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  padding: 12px 0;
  color: #666;
  font-size: 14px;
}

th {
  font-weight: normal;
  background-color: #F1F5FA;
  color: #000;
}
</style>

