<script setup lang="ts">
// import { LoginForm, RegisterForm } from './components'
// import { ThemeSwitch } from '@/components/ThemeSwitch'
// import { LocaleDropdown } from '@/components/LocaleDropdown'
import { useI18n } from '@/hooks/web/useI18n'
// import { underlineToHump } from '@/utils'
// import { useAppStore } from '@/store/modules/app'
// import { useDesign } from '@/hooks/web/useDesign'
import { ref } from 'vue'
const { t } = useI18n()
console.log('ready onmounyed')
</script>

<template>
    <div class="carbonlabel">
        112312354
    </div>
</template>

