<script lang="ts" setup>
import { reactive, ref } from 'vue'
import type { FormInstance, FormRules } from 'element-plus'
const ruleFormRef = ref<FormInstance>()
const testText = ref(ruleFormRef)
defineExpose({
  reftxt: testText
})
defineProps<{
  dialogVisible: Boolean
}>()

const ruleForm = reactive({
  name: '',
  region: '',
  count: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
})

const rules = reactive<FormRules>({
  name: [
    { required: true, message: '请输入报告名称 ', trigger: 'blur' },
  ],
  region: [
    {
      required: true,
      message: 'Please select Activity zone',
      trigger: 'change',
    },
  ],
  count: [
    {
      required: true,
      message: 'Please select Activity count',
      trigger: 'change',
    },
  ],
  date1: [
    {
      type: 'date',
      required: true,
      message: 'Please pick a date',
      trigger: 'change',
    },
  ],
  date2: [
    {
      type: 'date',
      required: true,
      message: 'Please pick a time',
      trigger: 'change',
    },
  ],
  type: [
    {
      type: 'array',
      required: true,
      message: 'Please select at least one activity type',
      trigger: 'change',
    },
  ],
  resource: [
    {
      required: true,
      message: 'Please select activity resource',
      trigger: 'change',
    },
  ],
  desc: [
    { required: true, message: 'Please input activity form', trigger: 'blur' },
  ],
})
const submitForm = async (formEl: FormInstance | undefined) => {
  console.log("提交表单", formEl);

  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      console.log('submit!')
    } else {
      console.log('error submit!', fields)
    }
  })
}
const options = Array.from({ length: 10000 }).map((_, idx) => ({
  value: `${idx + 1}`,
  label: `${idx + 1}`,
}))
const labelPosition = ref('right')
</script>
<template>
  <div>
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" :labelPosition="top">
      <el-form-item label="报告名称" prop="name">
        <el-input v-model="ruleForm.name" style="width:447px;" />
      </el-form-item>
      <el-form-item label="选择产品" prop="region">
        <el-col :span="7">
          <el-select v-model="ruleForm.region" placeholder="Activity zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
          </el-select>
        </el-col>
        <el-col :span="8">
          <el-select v-model="ruleForm.region" placeholder="Activity zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
          </el-select>
        </el-col>
      </el-form-item>
      <el-form-item label="报告类型" prop="count">
        <el-select v-model="ruleForm.count" placeholder="Activity zone" style="width:447px;">
          <el-option label="Zone one" value="shanghai" />
          <el-option label="Zone two" value="beijing" />
        </el-select>
      </el-form-item>

      <el-form-item label="报告说明" prop="desc">
        <el-input v-model="ruleForm.desc" type="textarea" style="width:447px;" />
      </el-form-item>
      <el-form-item>
          <div style="width:400px;
">
            <el-button>取消</el-button>
            <el-button type="primary" align="center" @click="submitForm(ruleFormRef)">保存</el-button>
          </div>
      </el-form-item>
    </el-form>
    <div style="border-top: 1px solid #e8eaec !important;margin-top:240px;"></div>
  </div>
</template>
<style scoped lang="less">

</style>