  
<script lang="ts" setup>
import { onMounted, reactive, ref } from 'vue';
import { getproductmaterial,delproductmaterial,editproductmaterial,editproductmaterialadd } from '@/api/product'
import { Dialog } from '@/components/Dialog'
import { any } from 'vue-types';
import { ElButton, ElNotification, ElTag,ElTooltip,ElMessage, ElMessageBox  } from 'element-plus'
import { number } from '@intlify/core-base';
const dialogVisible = ref(false)
const dialogTitle = ref('')
const labelPosition = ref('top')
let formLabelAlign = reactive({
    id:'',  // 本条数据的id，编辑接口使用
    name: '',
    product_material_no: '',
    count: '',
    product_material_spec:"1",
    material:"",
    weight:"",
    unit_type:"",
    unit:"",
    source:1,
    supplier_id:""
})
let actbtns = ref('')
let tableData = ref([])
let pageSize = ref(10)
let total = ref(0)
let currentPage = ref(0)
onMounted(() => {
    getproductmaterials()
});
const getproductmaterials =() =>{
    let params = {
        pageSize: pageSize.value,
        pageIndex: currentPage.value
    }
    getproductmaterial(params).then(res => {
        tableData.value = res.data.list;
        total.value = res.data.total;
    })
}
const addMatials = (_type: string,val: any) => {
    actbtns.value = _type
    // console.log("11",_type);
    if(_type == 'add'){
        dialogTitle.value = "新建原材料";
        dialogVisible.value = true;
        formLabelAlign.count = "";
        formLabelAlign.name = "";
        formLabelAlign.product_material_no = "";
        formLabelAlign.product_material_spec = "";
        formLabelAlign.material = "";
        formLabelAlign.weight = "";
        formLabelAlign.unit_type = "";
        formLabelAlign.unit = "";
        formLabelAlign.source = 1;
        formLabelAlign.supplier_id = '';
    }else if(_type == 'edit'){
        dialogTitle.value = "编辑原材料";
        dialogVisible.value = true;
        formLabelAlign.id = val.id
        formLabelAlign.count = val.count;
        formLabelAlign.name = val.product_material_name;
        formLabelAlign.product_material_no = val.product_material_no;
        formLabelAlign.product_material_spec = val.product_material_spec;
        formLabelAlign.material = val.material;
        formLabelAlign.weight = val.weight;
        formLabelAlign.unit_type = "";
        formLabelAlign.unit = "";
        formLabelAlign.source = val.source;
        formLabelAlign.supplier_id = '';
    }
}

const savemater = () =>{
    let params = {
        id:formLabelAlign.id,
        product_material_name:formLabelAlign.name,
        product_material_no:formLabelAlign.product_material_no,
        product_material_spec:formLabelAlign.product_material_spec,
        material:formLabelAlign.material,
        number:formLabelAlign.count,
        unit_type:formLabelAlign.unit_type,
        unit:formLabelAlign.unit,
        weight:formLabelAlign.weight,
        source:formLabelAlign.source,
        supplier_id:formLabelAlign.supplier_id,
    }
    if(params.id === ''){   //新增
        editproductmaterialadd(params).then(res =>{
            // console.log("add",res)
             if(res.code == "200"){
                dialogVisible.value = false;
                getproductmaterials()
             }
        }).catch(()=>{
        }).finally(()=>{
            getproductmaterials()
            // dialogVisible.value = false;
        })
    }else{  //编辑
        editproductmaterial(params).then(res =>{
            console.log("1231",res);
             if(res.code == "200"){
                dialogVisible.value = false;
                getproductmaterials()
             }
        }).catch(()=>{
            return 
        }).finally(()=>{
            getproductmaterials()
        })
    }
}
const handleSizeChange = (val: number) => {
    pageSize.value = val;
    getproductmaterials()
}
const handleCurrentChange = (val: number) => {
    currentPage.value = val;
    getproductmaterials()
}
const materdel = (id:number) =>{
    ElMessageBox.confirm(
    '确认操作?',
    '提示',
    {
      confirmButtonText: '确认',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(() => {
        delproductmaterial({id:id}).then(res =>{
            console.log("ss",res);
            // if(res){getproductmaterials()}
        })
    }).catch(() => {
     
    }).finally(()=>{
        getproductmaterials()
    })
}
</script>
<template>
    <!-- 按钮相关操作 -->
    <div class="mater_add" style="float:right;">
        <el-button size="mini" class="materadd" @click="addMatials('add',1)">新建原材料</el-button>
    </div>
    <div style="tables">
        <el-table :data="tableData" style="width: 100%" :header-cell-style="{ background: '#F1F5FA', color: '#000' }">
            <el-table-column type="index" label="序号" width="60" />
            <el-table-column prop="product_material_name" label="原材料名称" width="120" />
            <el-table-column prop="product_material_no" label="原材料编号" width="120" />
            <el-table-column prop="product_material_spec" label="规格" width="120" />
            <el-table-column prop="count" label="数量" />
            <el-table-column prop="unit" label="单位" width="120">
                <template #default="scope">{{ scope.row.unit == null ? "--" : scope.row.unit }}</template>
            </el-table-column>
            <el-table-column prop="source" label="材料" width="120" />
            <el-table-column prop="title" label="供应商" width="120">
                <template #default="scope">{{ scope.row.title == null ? "--" : scope.row.title }}</template>
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="120">
                <template #default="scope">
                    <el-button link type="primary" size="small" @click="addMatials('edit',scope.row)">编辑</el-button>
                    <el-button link type="primary" size="small" @click="materdel(scope.row.id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
         <!-- 分页 -->
    <div style="margin-top: 15px;" v-if="tableData.length >0 ">
        <el-pagination   v-model:current-page="currentPage" v-model:page-size="pageSize" :page-sizes="[10, 20, 30, 40]"
            layout="total, sizes, prev, pager, next, jumper" :total="total" @size-change="handleSizeChange"
            @current-change="handleCurrentChange" />
    </div>
    </div>
   <!-- 新建和编辑 -->
    <Dialog v-model="dialogVisible" :title="dialogTitle">
            <div>
                <el-form
                    status-icon
                    :label-position="labelPosition"
                    label-width="100px"
                    :model="formLabelAlign"
                    style="max-width:760px"
                    :rules="rules"
                >
                <el-row :gutter="20">
                    <el-col :span="12">
                        <el-form-item label="原材料名称">
                            <el-input v-model="formLabelAlign.name" placeholder="请输入原材料名称" />
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="原材料编码">
                             <el-input v-model="formLabelAlign.product_material_no" placeholder="请输入原材料编码"  />
                         </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <el-form-item label="规格">
                            <el-input v-model="formLabelAlign.product_material_spec" placeholder="请输入规格" />
                         </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="材质">
                            <el-input v-model="formLabelAlign.material" placeholder="请输入材质" />
                        </el-form-item>
                    </el-col>
                </el-row>  
                
                <el-row :gutter="20">
                    <el-col :span="5">
                        <el-form-item label="核算数量">
                            <el-input v-model="formLabelAlign.count" placeholder="请输入核算数量" />
                         </el-form-item>
                    </el-col>
                    <el-col :span="7" style="margin-top: 30px">
                        <el-row :gutter="8">
                            <el-col :span="12">
                                <el-form-item >
                                    <el-select v-model="formLabelAlign.unit_type"  placeholder="请选择" width="600" >
                                        <el-option label="数量单位" :value="1" />
                                        <el-option label="质量单位" :value="2" />
                                        <el-option label="长度单位" :value="3" />
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item >
                                    <el-select  v-model="formLabelAlign.unit"  placeholder="请选择">
                                        <el-option label="套" :value="1" />
                                        <el-option label="批" :value="2" />
                                        <el-option label="组" :value="3" />
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="质量">
                            <el-input v-model="formLabelAlign.weight" placeholder="请输入质量单位" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <el-form-item label="来源">
                            <el-radio-group v-model="formLabelAlign.source">
                                <el-radio :label="1">自产</el-radio>
                                <el-radio :label="2">外采</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="24">
                        <el-form-item label="供应商">
                            <el-select  placeholder="请选择" v-model="formLabelAlign.supplier_id">
                              <el-option label="供应商A" :value="11" />
                              <el-option label="供应商B" :value="12" />
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row> 
                </el-form>
            </div>
        <template #footer>
            <div style="text-align: center;">
                <el-button @click="savemater('add')" type="primary" size="mini" >保存</el-button>
                <el-button @click="dialogVisible = false" size="mini">关闭</el-button>
            </div>
        </template>
    </Dialog>
</template>

<style scoped>
.materadd {
    background-color: #B3AAAA;
    color: #fff;
    margin-bottom: 25px;
    margin-right: 5px;
    border: none;
}
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
</style>