

<template>
    <!-- 产品详情信息展示开始 -->
    <div class="prodetails">
        <div class="product_list">
            <div class="pro_list_fors"    v-for ="(pro_its,id) in pro_details" :key="id">
                <!-- {{pro_its}} -->
                <div class="common_title">产品名称 : <div class="pro_values">{{pro_its.product_name || "--"}}</div>
                </div>
                <div class="pro_nums">
                    <div class="pro_nums_left">
                        <div class="common_title">产品编码 : <div class="pro_values">{{pro_its.product_no || "--"}}</div>
                        </div>
                    </div>
                    <div class="pro_rights pro_spec" >
                        <div class="common_title">产品规格 :<div class="pro_values">{{pro_its.product_spec || "--"}}</div>
                        </div>
                    </div>
                </div>
                <div class="pro_fj">
                    <div class="common_title">附件信息 : --</div>
                </div>
            </div>
        </div>
        <!-- 产品详情信息展示列表开始 -->
        <div class="pro_details_ta">
            <!-- title -->
            <div class="pro_title">原材料清单</div>
            <el-table style="width: 100%" :header-cell-style="{background:'#E7E2E2',color:'#000'}" >
                <el-table-column type="index" prop="index" label="序号" width="60" />
                <el-table-column prop="date" label="原材料名称" />
                <el-table-column prop="name" label="原材料编码" />
                <el-table-column prop="address" label="规格" />
                <el-table-column prop="date" label="来源" />
                <el-table-column prop="name" label="数量"/>
                <el-table-column prop="address" label="单位" />
                <el-table-column prop="name" label="材质"  />
                <el-table-column prop="address" label="供应商" />
            </el-table>
            <!-- <Table :columns="columns" :data="data" /> -->
        </div>
        <!-- 产品详情信息展示列表结束 -->
    </div>

</template>
<script lang="ts" setup>
import { reactive,defineProps,PropType  } from "vue";
// ../../../types/contextMenu
import { contextMenuSchema } from '@/types/contextMenu'
import { TableColumn} from '@/types/table'

// const tableData = reactive([]);
//接受父组件的值
defineProps({
    pro_details: {
            type: Array as PropType<contextMenuSchema[]>,
            default: () => []
  },
})

// const columns = reactive<TableColumn[]>([
//     {
//         field: 'index',
//         label: 'index',
//         type: 'index'
//     },
//     {
//         field: 'title',
//         label: 'title'
//     },
//     {
//         field: 'author',
//         label: 'author'
//     },
//     {
//         field: 'action',
//         label: 'action'
//     }
//     ])

// const data = reactive([
//     {
//         title: 'title1',
//         author: 'author1'
//     },
//     {
//         title: 'title2',
//         author: 'author2'
//     },
//     {
//         title: 'title2',
//         author: 'author2'
//     }
//     ])
</script>
<style scoped lang="less">
// 详情开始
.product_list {
    .pro_list_fors {
        .pro_values {
            margin-left: 5px;
            color: #424542;
        }

        line-height: 45px;

        .common_title {
            color: #000;
            font-size: 15px;
            display: flex;
        }

        .pro_nums {
            display: flex;
            justify-content: space-between
        }
        .pro_spec{
            margin-right:130px;
        }
    }
}
//详情数据表格
.pro_details_ta{
  margin-top: 50px;
  .pro_title{
    margin:20px 0;
    color:#000;
    font-size: 16px;
  }
}

.el-row {
    margin-bottom: 20px;
}

.el-row:last-child {
    margin-bottom: 0;
}

.el-col {
    border-radius: 4px;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>
  