<script setup lang="ts">
import { Form } from '@/components/Form'
import { useForm } from '@/hooks/web/useForm'
import { PropType, reactive, watch } from 'vue'
import { TableData } from '@/api/table/types'
import { useValidator } from '@/hooks/web/useValidator'
import { FormSchema } from '@/types/form'
import { log } from 'console'

const { required } = useValidator()

//传递的数据字段
const props = defineProps({
  currentRow: {
    type: Object as PropType<Nullable<TableData>>,
    default: () => null
  },
  formSchema: {
    type: Array as PropType<FormSchema[]>,
    default: () => []
  }
})

const rules = reactive({
  // title: [required()],
  // author: [required()],
  // importance: [required()],
  // pageviews: [required()],
  // display_time: [required()],
  // content: [required()],
  product_name: [required("产品名称不能为空")],//以下是产品管理---字段校验  //产品名称  
  product_no: [required("产品编号不能为空")]                             //产品编号
})

const { register, methods, elFormRef } = useForm({
  schema: props.formSchema
})

watch(
  () => props.currentRow,
  (currentRow) => {
    if (!currentRow) return
    const { setValues } = methods
    setValues(currentRow)
  },
  {
    deep: true,
    immediate: true
  }
)

defineExpose({
  elFormRef,
  getFormData: methods.getFormData
})
</script>

<template>
    <Form :rules="rules" @register="register" />
</template>
