<script setup lang="ts">
import { computed,onMounted } from 'vue'
import { useAppStore } from '@/store/modules/app'
import { ConfigGlobal } from '@/components/ConfigGlobal'
import { isDark } from '@/utils/is'
import { useDesign } from '@/hooks/web/useDesign'
import { useCache } from '@/hooks/web/useCache'
import { useRouter } from "vue-router";
const { getPrefixCls } = useDesign()

const prefixCls = getPrefixCls('app')

const appStore = useAppStore()

const currentSize = computed(() => appStore.getCurrentSize)

const greyMode = computed(() => appStore.getGreyMode)

const { wsCache } = useCache()


onMounted(() => {
 
  const router = useRouter();
  // console.log("获取当前的路由",router.currentRoute.value);
});


// 根据浏览器当前主题设置系统主题色
const setDefaultTheme = () => {
  if (wsCache.get('isDark')) {
    appStore.setIsDark(wsCache.get('isDark'))
    return
  }
  const isDarkTheme = isDark()
  appStore.setIsDark(isDarkTheme)
}

setDefaultTheme()
</script>

<template>
  <ConfigGlobal :size="currentSize">
    <RouterView :class="greyMode ? `${prefixCls}-grey-mode` : ''" />
  </ConfigGlobal>
</template>

<style lang="less">
@prefix-cls: ~'@{namespace}-app';

.size {
  width: 100%;
  height: 100%;
}

html,
body {
  font-family:'PingFang SC';
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
  .size;

  #app {
    .size;
  }
}

.@{prefix-cls}-grey-mode {
  filter: grayscale(100%);
}

// *{
//     scrollbar-color: rgba(17, 82, 212, 0.3) transparent; /* 滑块颜色  滚动条背景颜色 */
//     scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
//     // 滚动条整体部分
// }
// *::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
// }
// 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
// *::-webkit-scrollbar-button {
//     display: none;
// }
// 滚动条的轨道（里面装有Thumb）
// *::-webkit-scrollbar-track {
//     background: transparent;
// }
// 滚动条的轨道（里面装有Thumb）
// *::-webkit-scrollbar-track-piece {
//     background-color: transparent;
// }
// 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
// *::-webkit-scrollbar-thumb {
//     background: rgba(144, 147, 153, 0.3);
//     cursor: pointer;
//     border-radius: 4px;
// }
// 边角，即两个滚动条的交汇处
// *::-webkit-scrollbar-corner {
//     display: none;
// }
// 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
// *::-webkit-resizer {
//     display: none;
// }




</style>
