/* .search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.search .searchLeft{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search .searchLeft .searchP{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 22px;
    align-items: center;
    flex-shrink: 1;
    margin-right: 20px;
}
.search .searchLeft .searchP span{
    display: inline-block;
    width: 50%;
    font-size: 14px;
} */

::v-deep .magtable  .el-table  th {
    font-weight: 500;
    background-color:#F1F5FA;
}
::v-deep  .magtable .el-table  thead {
    font-weight: 500;
    color:#9197A7;
}